[2014-08-07 22:24] ShaunDAdams opened #8 "AKKA Libraries"
OpenWIS currently builds using artifacts that have a groupID of eu.akka.xyz. These artifacts look to have been added to AKKAs internal repositories and there is also a chance that they have been modified.

The change in groupID has also damaged the POMs so that Maven struggles to resolve dependencies properly.

These artifacts should be returned to the standard jboss\apache libraries as found in t

[2014-10-01 10:48] OpenWIS-Association opened #13 "groupIds still eu.akka"
GroupIDs are still eu.akka.... do we want org.openwis or something similar?

[2014-10-01 10:49] OpenWIS-Association opened #14 "harness is building with a version number"
the harness client is still building a jar file that has a version number (e.g openwis-harness-client-3.13-SNAPSHOT.jar) unlike all the other artifacts. Does this need to change?

[2014-10-14 05:06] lmika-bom opened #15 "Category drop-down in "My Account -> Browse my metadata" is not being populated"
The category drop-down list in the "Metadata service" --> "Browse my metadata" section in the user portal is not populating with categories.

**Steps To Reproduce (on 3.13)**:
1. Log into the user portal as an editor.
2. Go to the "My Account" --> "Browse my metadata" section.
3. Click the categories drop-down list.  The list of categories are to be displayed, but the drop-down simply closes and r

[2014-10-14 22:36] lmika-bom opened #16 "Stop-word filtering is case sensitive in search"
Found while testing OpenWIS 3.13  When entering search queries in the Normal search containing stop words (e.g. "for", "if", "the"), that is filtered out before the query hits the search index, I've noticed that stop words are only filtered out if they are in lower case.  This contrasts with how the search deals with the remaining terms, which are searched for in a case insensitive manner.

**Step

[2014-10-14 23:21] lmika-bom opened #17 "The URN on XSD validation errors do not appear"
When performing an XSD validation for a new metadata record, the URN of the uploaded metadata does not appear alongside the error message in the upload report dialog.  This is regression of OWT-495.

This might be caused by the merging of BoM's changes to the "develop" branch.  Therefore, I'll take a look at fixing this bug.

[2014-10-17 09:10] francoisfaugeron opened #20 "Eclipse does not work well with the portal pom.xml file"
On MF side, we have a problem with the portal pom.xml file (openwis-metadataportal/openwis-portal/pom.xml).
We successfully built OpenWIS artifacts.
But we are not able to use Eclipse with this pom.xml. Indeed, we use Maven (mvn eclipse:eclipse -Dwtpversion=2.0 -Pall) to generate Eclipse configuration files (.classpath and .project).
And we have not successfully got an usable Eclipse development e

[2014-10-21 00:29] lmika-bom opened #22 "Cannot create synchronisation task"
OpenWIS refuses to create any new synchronisation tasks.  This was experienced while trying to create a synchronisation task to GISC Jeddah which was to run daily.

**Steps to reproduce**:
1. Log into admin portal and go to "Configure Synchronisation".
2. Click "New".
3. Enter details for the synchronisation task below.
4. Click "Save".
   - An error message will appear.

![synchronisation-config]

[2014-10-22 13:31] francoisfaugeron opened #23 "Permanent link to metadata : several metadata may match."
we found a bug in OWT-467 permanent link to metadata https://github.com/francoisfaugeron/openwis/commit/c7d2c92c0c111ff424a3ec72d955cd652d89c176

**Steps to reproduce:**
insert a metadata with this urn: urn:x-wmo:md:int.wmo.wis::toto
insert a metadata with this urn: urn:x-wmo:md:int.wmo.wis::toto2

the perma-link http://host/openwis-user-portal/srv/en/main.home?urn=urn: urn:x-wmo:md:int.wmo.wis::t

[2014-10-29 09:30] francoisfaugeron opened #26 "GISC cache can not be browsed"
We have deployed openwis 3.13 build 4. Artifacts come from Jenkins (https://openwis-association.ci.cloudbees.com/job/openwis-3.13/4/).
When we want to browse the GISC cache (Data Service...Browse content on admin portal), the table is empty.
We find exceptions in Jboss logs:
_WARNING [org.apache.cxf.phase.PhaseInterceptorChain](http-0.0.0.0-8180-2) Application {http://cache.dataservice.openwis.org

[2014-11-09 21:10] #26 closed, assigned to lmika-bom

[2014-11-09 21:14] #17 closed, assigned to lmika-bom

[2014-11-12 21:19] #15 closed, assigned to lmika-bom

[2014-11-14 14:16] OpenWIS-Association opened #31 "AKKA Developers and information is still in the parent POM"
[code]

Do we want to replace this with the OpenWIS team? Should we at least add the contributors to list.

Additionally, as we are going Open Source we probably need to add the following

[code]

[2014-11-18 02:11] ywang-bom opened #32 "Cannot create metadata: OpenWIS derives an empty string as the value for "GTS Category""
**NOTE**: This bug concerns metadata records **NOT** describing data for global exchange, i.e. the data do NOT have a corresponding WMO Data License Code (e.g. WMOEssential).

OpenWIS refuses to create a metadata record because the system **derives** an empty string as the "GTS Category" from the given XML file.
The system reports error "Unable to extract OpenWIS information" shown as follows:
![i

[2014-11-20 15:17] #20 closed, assigned to nobody

[2014-11-26 08:16] #22 closed, assigned to nobody

[2014-11-27 02:14] #16 closed, assigned to nobody

[2014-12-09 13:42] francoisfaugeron opened #39 "exception in tomcat start"
When we start user portal Tomcat, we can see this exception:

2014-12-08 14:38:50,443 INFO  [jeeves.engine] -    Adding service : xml.useralarms.get
2014-12-08 14:38:50,444 WARN  [jeeves.engine] - Raised exception while registering service. Skipped.
2014-12-08 14:38:50,444 WARN  [jeeves.engine] -    Service   : xml.useralarms.get
2014-12-08 14:38:50,444 WARN  [jeeves.engine] -    Package   : org.o

[2014-12-15 10:08] #39 closed, assigned to nobody

[2014-12-15 16:29] #14 closed, assigned to ShaunDAdams

[2014-12-19 15:43] #23 closed, assigned to nobody

[2015-01-06 23:49] lmika-bom opened #44 "Browse Cache Content does not maintain Metadata ID criteria when change pages"
Found while testing OpenWIS 3.13 build 17.  When searching the "Browse Cache Content" table within the admin portal with a "Metadata ID" URN, the metadata ID search criteria is used in the first page of the results, but is no longer used in subsequent pages.  This occurs regardless of the paging operation performed (next page, last page, a specific page).

**Steps to Reproduce**
1. Go the the "Bro

[2015-01-15 08:43] francoisfaugeron opened #45 "Wrong messages in log file for ingestion of invalid products"
There is a problem in log file for ingestion of invalid products:
- those who have no metadata in the catalog and do not produce stop-gaps are removed although it is indicated in the log file they are moved to the temporary directory.
  2015-01-14 14:40:04,370 INFO  [org.openwis.dataservice.gts.collection.CollectionMDB](WorkManager%282%29-57) +++ File /A_HVXQ30EGRR071200_C_EGRR_20150107120000.bin

[2015-01-22 23:17] lmika-bom opened #48 "Updating subscriptions to non-GTS products may corrupt subselection parameters"
This is a very specific error case that deals with subscriptions to non-GTS products (i.e. products from local data sources) that has a sub-selection panel built by querying the sub-selection harness.  The issue is when the subscription is configured with subselection parameters with values containing commas.  When the user opens the subscription wizard for an existing subscription of this type, a

[2015-02-04 10:09] #45 closed, assigned to nobody

[2015-02-04 11:45] francoisfaugeron opened #51 "JDBC Postgres driver not updated"
The JDBC Postgres driver https://github.com/OpenWIS/openwis/blob/master/openwis-dataservice/openwis-dataservice-common/openwis-dataservice-common-domain/src/main/config/postgresql-8.4-701.jdbc4.jar hasn't been updated.

[2015-02-04 12:05] francoisfaugeron opened #53 "The database portals initialization query has not been updated."
The file https://github.com/OpenWIS/openwis/blob/master/openwis-metadataportal/openwis-portal/src/main/webapp/WEB-INF/classes/setup/sql/create/create-db-postgres.sql hasn't been updated to reflect the change from text to CITEXT for some fileds. This file is used to initialize the database on the first run of the portal.

[2015-02-04 12:21] francoisfaugeron opened #55 "Tokenised conf files not updated"
Three "tokenised" conf files haven't been updated to include changes and improvements (This is used as input of the script GenerateConfiguration.sh to generate config files): config.xml (user and admin portal) , openwis-ds.xml and openwis-metadataportal.properties.

[2015-02-12 09:39] #51 closed, assigned to nobody

[2015-02-12 09:39] #53 closed, assigned to nobody

[2015-02-12 09:40] #55 closed, assigned to nobody

[2015-02-26 20:55] #48 closed, assigned to lmika-bom

[2015-04-01 14:01] francoisfaugeron opened #63 "Regression in the GISC-DCPC redirection"
We found a regression in the GISC-DCPC link.
Here is the use case:
a metadata of a DCPC product is harvested by its GISC.
The user has an account both on the GISC and DCPC.
He discovers the metadata on the GISC.
He clicks on Request button.
OpenWIS displays the following message: "An error occurred. Please contact your service desk."
The webbrowser should have open a new tab on the DCPC, displayin

[2015-04-19 22:08] #63 closed, assigned to lmika-bom

[2015-04-21 13:39] francoisfaugeron opened #65 "Regression in sub-selection parameters"
OpenWIS is deployed in DCPC mode. We discover a product on the user portal. We click on the Request button.
OpenWIS displays the following message: "An error occurred. Please contact your service desk."
In the log file, we read:
java.lang.NullPointerException at org.openwis.metadataportal.services.request.dto.subselectionparameters.ParametersDTO.parametersToDTO(ParametersDTO.java:46)
We think we h

[2015-04-23 13:28] #65 closed, assigned to lmika-bom

[2015-04-30 04:07] lmika-bom opened #68 "Review query construction in CacheIndexImpl.getFilteredBrowseCacheQuery()"
The code that is constructing the JPQL query in the `CacheIndexImpl.getFilteredBrowseCacheQuery()` methods is concatinating the arguments straight into the query without any sanitation:

[code]

This method is called directly from `CacheIndexImpl.getCacheContentFilteredSorted()`.  There is no sanitation of the "filenameFilterExpression" or "metadataFilterExpression" parameters, which are passed to

[2015-04-30 09:59] woollattd opened #69 "add ability to export all metadata from a category as a single MEF file"
It would be extremely useful to backup a whole catageory of metadata in a single MEF.
For Support it would be enormously helpful should an update need a full re-install of the system

currently it is only possible to export metadata as a MEF from the Admin Portal for a single page of search results (20 files) where there could be hundreds of pages covering all the results for a category
![category

[2015-04-30 16:09] openwis-ss opened #70 "Staging Post Deployment is not included in build"
The main POM excludes the staging Post build. It looks to be commented out and there it's not building the Staging Post WAR file

openwis/pom.xml Line 34

[2015-05-01 08:35] gollogly opened #71 "Staging Post deployment contains hardcoded path of XSLT file"
Currently the deployment of the Staging Post deployment forces the war file to be deployed in a certain folder outside of tomcat. This is defined in the web.xml for the StagingPost war file by the ‘globalXsltFile’ parameter and it's location. The installation notes also require manual editing of the tomcat conf to change the context and find this file

2 ways to make this easier to install:

1) Ke

[2015-05-05 04:30] ywang-bom opened #72 "Cannot turn on replication service"
The replication service cannot be turned on if the status file does not exist before hand.

The `setServiceStatus` method of class `ControlServiceImpl` is used to turn on/off various services that OpenWIS offers. Setting replication service status is handled by invoking the `updateReplicationServiceStatus` method. However **this method does its job by only renames exsting service status file** (ei

[2015-05-12 10:07] benjaminsaclier opened #73 "User right access on metadata editor"
At present time an openwis user which have the permission to edit metadata has the ability to:
1/ add a new metadata in any set of catalogue
2/ move a metadata (which is owner) to any other set
3/ add a new metadata using any uniform resource names (urn).
This behavior is not compliant with WMO and is a risk on metadata management on Openwis.

The proposition of evolution is the following :
1/ Hav

[2015-05-19 09:33] #13 closed, assigned to nobody

[2015-05-19 09:33] #31 closed, assigned to nobody

[2015-05-19 09:33] #8 closed, assigned to nobody

[2015-05-19 09:35] #70 closed, assigned to nobody

[2015-05-19 15:55] openwis-ss opened #74 "Remove PostgresSQL JDBC driver jar dependencies from WAR file builds"
Currently when WAR files are built for OpenWIS (e.g. Solr, Admin Portal, User Portal), the PostgreSQL JDBC jar is included as a dependency, and is built into the WEB-INF/lib folder of the WAR file.

From a deployment point of view it would be better to not include the JDBC jar within the WAR, and instead make the deployment of this jar part of the installation process, into the /lib' folder of Tom

[2015-06-09 00:52] ywang-bom opened #75 "Map not showing"
All the maps are not showing up. This includes the maps for search, the map in web metadata editor and the maps in sub-selection parameter (for BoM LocalDataSource).

Since the map is loaded from an exteranal map server. It disappears when the remote server goes down or changes service. This is mostly likely the same issue that DCPC FMI has encountered.

We may want to look into this issue and hav

[2015-06-18 22:19] lmika-bom opened #76 "Add "vanilla" configuration files to the repository"
Check that "vanilla" configuration files for the data service, security service, and any other service are all tracked somewhere inside the repository.  Add them if that is not the case.  These should cover all the config files bundled in the old _ArchiveOpenWIS_ distributions provided by AKKA.

This includes:

**Config Files**
- Configuration for the data services
  - openwis-dataservice-destinat

[2015-06-23 05:56] lmika-bom opened #77 "RSS/ATOM feed for metadata changes"
Brought up during discussions with user of OpenWIS that is consuming metadata to produce derivative work.

At the moment, OpenWIS has a notion of "Whats New": a display of metadata record IDs that have been recently added or changed.  It might be useful to set-up a machine readable version of this list --- something that users can subscribe to trigger automated processes when metadata changes.  A

[2015-07-23 14:06] openwis-ss opened #78 "Database Source code not under Source control"
Currently the openwis database source code is not under the Open Wis Git Hub Repo. It's proposed tocreate another folder 'openwis-database' and add the files here from the Archive with the latest changes to the citext column and openwis alarm table to bring it up to 3.13 as the baseline

[2015-08-10 00:09] ywang-bom opened #84 "Need a better timeout mechanism on socketRead"
Synchronistation jobs can sometimes hang for unreasonably long time (serveral days). It would be helpful to implement a better timeout mechanism to terminate the job earlier and allow it to have a chance to restart in the next schedule.

Since the jobs are scheduled to run every 24 hours, the upper-limit of the timeout shall not be longer than that. In practice, if no data is comming from a connec

[2015-08-13 05:25] lmika-bom opened #85 "Improvements to the sub-selection parameters"
OpenWIS allows for the creation of a sub-selection parameter UI for a DCPC by calling a SOAP method on a harness (the sub-selection parameter harness).  Although this is helpful, it has a few limitations.  Before the adaptation of the GeoNetwork 2.11, it might be worth looking into making some of the following improvements:
1. **Selecting geographic region that crosses the anti-meridian:** the sub

[2015-08-13 08:58] openwis-ss opened #86 "Build with Non AKKA dependencies has run time exceptions on Data Service Stack"
java.lang.IllegalArgumentException: Wrong target. org.jboss.jpa.deployment.PersistenceUnitDeployment is not a org.jboss.jpa.deployment.PersistenceUnitDeployment
        at org.jboss.reflect.plugins.introspection.ReflectionUtils.invoke(ReflectionUtils.java:67).

This is evident now that there are tests which run through features of the service.

[2015-08-21 13:26] francoisfaugeron opened #87 "problem with 3.13.2 release dataservce"
I tried 3.13.2 release.
First, I pulled 3.13.2 release (https://github.com/OpenWIS/openwis/releases/tag/openwis-3.13.2-release).
The built was ok (.m2/repository empty first).
I deployed artifacts on a test platform which ran with 3.13.1 version.
When I started the dataservice JBoss, I faced same exceptions as those in Leon's May 5 comment #62 .
If I put 3.13.1 artifacts back, it works again.

[2015-08-24 00:21] ywang-bom opened #88 "Detailed Report not available when a Synchronisation job fails"
This ticket is more of a question rather than a bug report as indicated by its label.

When a Synchronisation task fails (error message is `Response is not in OAI-PMH format`), if I click on the **Download Detailed Report** button, I got a XML document showing that the detailed report file cannot be found:

[code]

Is this something worth to fix? I do agree that the short error message on report s

[2015-09-01 04:24] ywang-bom opened #89 "Start date gets updated even when a synchronistaion job fails"
##### Issue

When a scheduled synchronistaion job fails, the `dateFrom` field still gets updated. This means the next try of the synch job will NOT re-try the failed datetime period and instead skipping for the new dateFrom value. This in turns leads to inconsistent metadata sets on remote and local servers.
##### Analysis

A breif investigation shows that the following code in `OaipmhHarvester.ja

[2015-09-01 04:38] ywang-bom opened #90 "Metadata synchronisation: Partial Update v.s. ACID"
In the process of an OAI-PMH sychronisation task, the local metadata records are updated page by page (the page size is controlled by the server's OAI-PMH configuration). If the process fails in the middle, we are left with a partially updated local metadata set (and how partially is somewhat unknown).

If the whole process is ACID, which means any failure would cause any changes to roll back, we

[2015-09-10 15:39] jeremytandy opened #91 "ExtractFromCacheTestCase fails on Cloudbees- attempt to write to /var/opt/..."
For the `openwis-dataservice-server-ejb` tests; the path properties have been set to non-system directories (see `openwis-dataservice-cache.properties`)

[code]

However, the `ExtractFromCacheTestCase.testSimpleExtract` still attempts to move extracted files to `/var/opt/...`

When executing on the Cloudbees stack, this causes an error (see trace below):

[code]

My guess is that we don't have per

[2015-09-10 16:12] #91 closed, assigned to nobody

[2015-09-11 11:14] jeremytandy opened #92 "(critical) 3.13.3 is not deploying"
Miss-configured Persistence unit:

[code]

Look at data-source persistence.xml file

[2015-09-15 01:05] ywang-bom opened #93 "fileSize is always zero in collection.log"
`collection.log` is one of the log files generated by the **data service**. It logs all the files ingested into OpenWIS Cache. The related code [Line 698 of the `CollectionMDB` class](https://github.com/OpenWIS/openwis/blob/master/openwis-dataservice/openwis-dataservice-cache/openwis-dataservice-cache-ejb/src/main/java/org/openwis/dataservice/gts/collection/CollectionMDB.java#L698). The `fileSize`

[2015-10-01 01:27] #87 closed, assigned to nobody

[2015-10-12 13:26] #92 closed, assigned to lmika-bom

[2015-10-12 14:08] lmika-bom opened #96 "BlacklistService: two new methods"
We need two new methods on the blacklist service in order to populate the blacklist table in the new version of GeoNetworks.  The description of the two methods are below:
- Return the total number of black-list entries.
- Return the total number of black-list entries filtered on a particular user name.

[2015-10-27 04:11] ywang-bom opened #98 "Metadata sync error - <gmd:dateStamp> not extracted when the child node is <gco:Date>"
#### Description

Over 600 metadata records from GISC Offenbach failed to be imported and the error message was **Unable to extract an URN or a datestamp from the metadata record.** An example of these metadata file can be found at http://oai.dwd.de/oai/provider?metadataPrefix=iso19139&set=WIS-GISC-OFFENBACH&verb=GetRecord&identifier=urn:x-wmo:md:int.eumetsat:EO:EUM:DAT:MFG:HPI-IODC
#### Analysis

[2015-11-16 11:42] #78 closed, assigned to gollogly

[2015-11-20 00:31] #96 closed, assigned to lmika-bom

[2015-11-20 09:20] #86 closed, assigned to nobody

[2015-11-22 21:08] lmika-bom opened #105 "Remove FTPReplication Tool"
It was decided during the TC teleconference on 20 Nov 2015 that the FTP Replication tool included in OpenWIS is no longer required.  Investigate and remove this tool from the project.

[2015-11-24 11:33] woollattd opened #107 "Deployment instuctions for clean install required - not just a patch on 3.13"
Current deployment instructions are solely for an upgrade to 3.13 to 3.14
Instructions for a new clean installation are required.
(Especially as there are some major changes e.g. change to Tomcat from Jboss for OpenAM)

[2015-11-30 19:13] mgiannoni opened #110 "openwis build failure: Class Not Found: "CacheIndex""
I'm experincing a build failure is inside the openwis-dataservice.  Is there something simple that I've missed or is this a real problem?

[marcg@ws-10364 openwis-dataservice]$ echo $JAVA_HOME
/usr/lib/jvm/jre-1.7.0-openjdk.x86_64
[marcg@ws-10364 openwis-dataservice]$ echo $MAVEN_OPTS
-Xms256m -Xmx512m -XX:MaxPermSize=256m
[marcg@ws-10364 openwis-dataservice]$ mvn -X clean install -P all -DskipTes

[2015-12-01 11:05] ShaunDAdams opened #112 "Metadata portal not building since Security Service update"
[code]

[2015-12-01 11:31] #112 closed, assigned to ShaunDAdams

[2015-12-01 11:44] ShaunDAdams opened #113 "openwis-portal-client folder structure"
openwis-portal-client is currently in a folder under openwis-metadataportal (the modified parent from geonetwork) but does not use openwis-metadataportal as its parent POM. (it uses the openwis pom)

To make life easier and to clearly seperate this module from the GeoNetwork stuff I will move this to the top folder

[2015-12-01 14:18] #113 closed, assigned to ShaunDAdams

[2015-12-01 14:21] ShaunDAdams opened #114 "multiple versions of maven-compiler-plugin & maven-war-plugin"
When the security service was uplifted, it meant that maven-war-plugin and maven-compiler-plugin in the openwis-portal module had to be updated.  There are multiple diffierent verisons of these plugins in use across OpenWIS

[2015-12-01 17:39] #110 closed, assigned to nobody

[2015-12-15 18:47] openwis-ss opened #115 "Error on Admin Portal on Target Stack"
The following error appears on start up of the portal on the target version of the stack (Java 7 and Tomcat 7)

It appears this is because the wrong servlet-api library is included in the build for both portals
servlet-api-2.5-6.1.14.jar

Dec 15, 2015 11:58:53 AM org.apache.catalina.startup.ContextConfig processAnnotationsJar
SEVERE: Unable to process Jar entry [com/ibm/icu/impl/data/LocaleElement

[2015-12-17 13:49] benjaminsaclier opened #118 "Removing harvesting and keep associated metadata"
At present time when a harvesting task is removed all the metadata which are "linked" to this harvesting task are removed also.
It would be better if administrator have the choice when removing a harvesting task to keep or not the metadata.
If administrator decides to keep the metadata then the metadata table should be updated for all associated MD for the following fields:
'isharvested'  => 'n'
h

[2016-01-07 03:13] lmika-bom opened #119 "Bugs in CollectionMDB regarding the originator filters"
Found one bug and one question regarding the originator filters:
#### Issue 1

First, the cached copy of the originator filters tracked within [CollectionMDB.java](https://github.com/OpenWIS/openwis/blob/b0cad21a6788f71e96d901a86b2b3cd6d2f0757f/openwis-dataservice/openwis-dataservice-cache/openwis-dataservice-cache-ejb/src/main/java/org/openwis/dataservice/gts/collection/CollectionMDB.java#L807) a

[2016-01-07 03:19] lmika-bom opened #120 "Cronjob used to remove empty cache directories can also remove the "cache" directory itself"
Found this out when our development system stopped writing files to the cache.  As part of the cache purge, there is a cronjob which will scan the cache directory tree and remove empty directories.  The job is as follows:

[code]

The issue is that if something causes the system to stop ingesting data for a long period of time, as the cache purge removes old cache files and this job removes empty

[2016-01-18 00:45] ywang-bom opened #122 "The role of Category for metadata sync"
**Introduction**
There are some anomalies in metadata syncing when a metadata is in different categories on different GISCs (this sometimes happens due to mistakes or incorrect workflow). Basically the Category value is **not** checked when updating or deleting metadata. This is in theory consistent with the WIS spec that metadata is solely identified by its URN. But still leads to some complicati

[2016-01-18 03:54] ywang-bom opened #123 "OAI-PMH: deleted metadata IDs "shadow" active metadata IDs in ListIdentifier results"
_This issue is the same as OWT-489 on MF JIRA_

This was found while experiencing a bug in OpenWIS which was not properly cleaning up the entries in the "deletedmetadata" table when creating new metadata.  In the off chance that a metadata record exists in the "metadata" and "deletedmetadata" table simultaneously, an OAI-PMH ListIdentifier response will list that record as "deleted" instead of "ac

[2016-01-18 03:55] ywang-bom opened #124 "Deleted metadata "resurrected" by draft metadata may not clean up deletedmetadata records"
_This issue is the same as OWT-490 on MF JIRA_

There is a possible sequence of events in which OpenWIS creates draft metadata for URNs that were deleted from a remote OAI-PMH provider without properly cleaning up the "deletedmetadata" tables.  This could happen if the category of the two metadata records differ.

The sequence of events is as follows:
1. OpenWIS has metadata with URN X belonging t

[2016-01-22 08:32] openwis-ss opened #125 "Broader understanding of SLAS for OpenWIS"
I have asked Julie/Dom/Duncan the question to provide SLA documenation for Met Switch and Openwis to begin converation for 4.0

[2016-01-22 08:36] openwis-ss opened #126 "DHA2: GISC Roles, Permissions, SEC Policy"
Capture GISC Roles and Permissions and Security Policy

Identify the various roles and permiss used in OpenWIS

(eg.)
Role: Metadata Administrator
Function: Edit Metadata, Delete Metadata

[2016-01-27 13:55] ShaunDAdams opened #128 "Maven releasing does not work on 3.14.1"
CloudBees builds are failing when Maven release is run. This functionality will be key when going opensource

[2016-01-27 17:09] ShaunDAdams opened #129 "maven deploy fails due to permissions on CloudBees repo"

[2016-01-27 17:24] ShaunDAdams opened #130 "Test failures when Maven Releasing"
3.14.1 was released using -Darguments="-DskipTests" which means that the final artifacts\code were not unit tested when run.

These may be resolved in develop branches already

[INFO] -------------------------------------------------------
[INFO]  T E S T S
[INFO] -------------------------------------------------------
[INFO] Running eu.akka.openwis.dataservice.common.domain.ParameterTestCase
[INF

[2016-01-28 14:17] #128 closed, assigned to nobody

[2016-02-01 13:35] openwis-ss opened #135 "Flash plugin notification in Portal"
open the user portal in FireFox I get the message “Firefox has prevented the outdataed plugin “Adobe Flash” from running on wis.metoffice,gov.uk”

Should the portal be using a flash plugin ?

[2016-02-03 16:01] ShaunDAdams opened #136 "Maven 3 build failure"
OpenWIS fails to compile when using Maven 3 (3.1.1)

[ERROR] Failed to execute goal org.apache.cxf:cxf-java2ws-plugin:2.1.10:java2ws (cacheindex-service-wsdl) on project openwis-dataservice-cache-ejb: org/openwis/dataservice/cache/CacheIndex: org.openwis.dataservice.cache.CacheIndex -> [Help 1]

This is the only module that fails to build in Maven 3

[2016-02-03 17:06] #130 closed, assigned to lmika-bom

[2016-02-04 17:05] ShaunDAdams opened #138 "Maven Releasing problematic for portals"
Beacause the admin and user portals build using profiles they are difficult to release. Maven releasing will only run each module one. OpenWIS requires that the portal module be run twice but with a different profile each time. To get all the artifacts to release, the portal has to be run again.

This URL explains the problem

http://stackoverflow.com/questions/16041336/how-to-maven-release-multip

[2016-02-07 23:29] lmika-bom opened #139 "OpenWIS 3.14.2 packaging"
After going through the installation guide, I've noticed that there is a number of external artefacts that were previously included in the OpenWIS release package (e.g. old versions of OpenDJ and OpenAM) that are no longer included.

We either need to decide whether to continue to include these dependencies in the release package, or change the installation guide to include a link so that people i

[2016-02-10 14:24] #138 closed, assigned to nobody

[2016-02-12 11:43] openwis-ss opened #143 "OpenWIS 3.14-2 Release Note Merge"
OpenWIS 3.14-2 merge of updates in indiviaual release note changes required to all separate subsystem in release note

[2016-02-12 13:10] openwis-ss opened #145 "Add OWASP depedency Check to Main Openwis Build"
Addition of OWASP dependency check into main build after initial testing on individual portal build and running on the entire build.

Very useful MVN plugin addition at detecting vulnerabilities with 3rd party dependencies.

can be run against the entire build with *_mvn-dependency-check -P all *_

Note: There is also a nice jenkins plugin which can render the result and record stats as long as th

[2016-02-29 11:30] woollattd opened #151 "v3.14.2 - Admin Portal Alarms page - issue with 29th Feb - Leap Year & using wrong year?!"
It appears that OpenWIS Admin Portal in v3.14.2 on our Dev system cannot cope with the 29th of Feb in a Leap Year.
But.... I notice that the system seems to think it is 2015 when it knows that it is 2016. So it is correct to raise an error as 29th Feb doesn't exist in 2015. But why does it think it's 2015? and would it make a difference even if it did have the correct year?

The result of this iss

[2016-03-01 08:43] woollattd opened #152 "v3.14.2 - Admin Portal reports fail when exporting"
The export function on the Admin Portal pages that allow this seem to have trouble accessing the relevant xml file and causes an error.

Data Service - **Requests Statistic**s page
for **Volume of data disseminated per day and per user**:
<error id="error"><message>/usr/share/tomcat/webapps/openwis-admin-portal/../../data/tmp/disseminated-users-statistics.xml (No such file or directory)</message>

[2016-03-02 16:18] openwis-ss opened #153 "Codehaus POM dependencies no longer available"
Some dependencies are no longer available at their current urls due to Codehaus shutdown. Raised on behalf of CMTeam whoc spotted the issue on a recent 3.14.3 rebuild on cloudbees jenkins build.

codehaus.org domain has now expired because this service has been discontinued. This means the pom that it is trying to use is no longer accessible.

http://repository.codehaus.org/org/apache/geronimo/gen

[2016-03-15 10:50] #143 closed, assigned to nobody

[2016-03-15 10:51] #71 closed, assigned to gollogly

[2016-03-17 02:11] #98 closed, assigned to nobody

[2016-03-18 08:34] woollattd opened #156 "Dissemination issue with zipped files - always called 'tmp.zip'"
selecting the 'ZIPPED' compression option for FTP or Mail dissemination for an ad-hoc or subscription doesn't work.
the filename is given the name 'tmp.zip' for every delivery.

Obviously each time a file arrives it overwrites the previous one, this will lead to big problems for recipients.

This may be down to our dissemination harness, but it looks like it has more to do with how the data servic

[2016-03-18 08:55] woollattd opened #157 "dissemination issue - file renaming not working for multiple file selection"
Using the 'File name' option for FTP or Mail dissemination for an ad-hoc request doesn't work when selecting more than one file on the sub-selection window
The files are not sent as individual files but grouped into one corrupted file

sample files
[rename.txt](https://github.com/OpenWIS/openwis/files/179292/rename.txt) - shows conent of a single file (for reference)
[multi.txt](https://github.com

[2016-03-18 10:19] woollattd opened #158 "Email Dissemination issue - embedded in body option needs to be removed"
This option has never worked in OpenWIS. It also isn't a good idea if it did since it would be posssible to set this for .bin files
it is better to just leave the ability to attach a file.
![maildiss](https://cloud.githubusercontent.com/assets/6514963/13874945/c7a7f77c-ecf2-11e5-8b31-a92bd3fe5de2.jpg)

[2016-03-18 10:30] woollattd opened #159 "Public Dissemination issue - Save button causes error"
when using the 'Save' button in the Public Dissemination window for an FTP or Mail deissemination an error occurs
![mailsave](https://cloud.githubusercontent.com/assets/6514963/13875199/686eee62-ecf4-11e5-850d-df24a8ba4cbf.jpg)

**extract from openwis.log**
2016-03-18 10:22:19,113 INFO  [jeeves.service] -  -> dispatch ended for : xml.get.home.page.last.products
2016-03-18 10:22:49,184 INFO  [jeeve

[2016-03-18 10:38] woollattd opened #160 "References to RMDCN should only apply if available"
references to RMDCN on the ‘Favorites’ tab in User Information section on User Portal should only appear if enabled in the Data Policy settings and the User belongs to that group.
also what is RMDCN Email? maybe that option should be removed from here and the Data Policy settings.

![rmdcn](https://cloud.githubusercontent.com/assets/6514963/13875353/41e98e90-ecf5-11e5-99d5-db3e2dead70d.jpg)

[2016-03-18 12:06] woollattd opened #161 "Dissemination issue - not using Secondary Dissemination when Primary fails"
I have tried to test secondary dissemination option for Ad-Hoc and Subscriptions. It doesn't work.

Users that set up a Secondary FTP or Mail delivery, should Primary delivery to FTP or Mail fail, will only receive an email with a link to the Staging Post. The Secondary Dissemination is ignored.

This may lead to hundreds of emails (maybe more) being received by the users registered email address

[2016-03-18 12:36] woollattd opened #162 "Email Storm possible - limit email output with links to Staging Post during dissemination failures"
Should a Primary dissemination for a subscription fail, emails with links to the staging post are sent to the users registered email address. This could lead to hundreds and thousands of emails being sent out.

This will cause huge issues for the receipients as their mail boxes fill up
Should this mass of emails be treated as spam by recipient email gateways, the domain sender base score of the or

[2016-03-21 21:47] #76 closed, assigned to lmika-bom

[2016-03-23 11:37] woollattd opened #165 "Harvesting Report 'Download Detailed Report' issue - not showing details of those that have Errors"
The option to 'Download Detailed Report' for a harvest task and a synchronisation task in the Admin Portal is a great addition, it covers what has been 'added'; 'updated' and 'removed' but... it is missing something vital...it doesn't include those that had 'errors'.
Having a list of all the errors included and the reason they failed would make it easier to chase the GISC concerned about their met

[2016-03-23 11:56] woollattd opened #166 "Harvesting issue - v3.14.5 not downloading metadata from DWD - error - cannot find namespace to set for element gmd:MD_Metadata"
OpenWIS is having trouble ingesting metadata from DWD.
is OpenWIS unable to accept the German metadata with this namespace or is the German metadata incorrect?
I'm not sure that the metadata is incorrectly formatted as other GISCs seem to download the correct number of metadata from their catalogue. (seen here: http://oai.dwd.de/oaimonitorgui/#complete)

I also notice that there are discrepancies

[2016-03-29 08:31] #153 closed, assigned to gollogly

[2016-04-05 10:22] openwis-ss opened #167 "Create 3.14.6 Build"
Create new openwis release 3.14.5 build to include XSS vulnerabilities within PR#163 and PR#164

[2016-04-05 10:24] openwis-ss opened #168 "Create detail on how to test XSS Vulnerabilites"

[2016-04-06 14:12] #167 closed, assigned to adrian-wood

[2016-04-07 21:49] lmika-bom opened #169 "Add vagrant to repository using Puppet for provisioning"
Move the vagrant files into the OpenWIS repository and modify them to work with the sanitised Puppet scripts UKMO is working on.  Use appropriate configuration so as to make it easy for developers to spin up and start using an instance of OpenWIS.

[2016-04-13 15:18] woollattd opened #171 "Harvesting issue - similar to issue #166 affects v3.14.5 - not downloading the correct number of metadata from other GISCS"
I'm still seeing the same issue in v3.14.5 as for #166 on v3.14.4 on our DEV system
**but...** I am also now seeing a problem with harvesting from other GISCs on our DEV system.

eg for WIS-GISC-SEOUL
I see 24 'Unexpected Errors' with message:
**ERROR: character with byte sequence 0xec 0x98 0x81 in encoding "UTF8" has no equivalent in encoding "LATIN1"**
![harvest-error](https://cloud.githubuserco

[2016-04-18 13:56] #171 closed, assigned to woollattd

[2016-04-18 13:56] #168 closed, assigned to openwis-ss

[2016-04-18 13:59] #115 closed, assigned to ShaunDAdams

[2016-04-19 02:34] lmika-bom opened #172 "WCMP version 1.3: Use of gmx:Anchor for data policy"
During TT-GISC-2016, it was mentioned that it is legal to use gmx:Anchor in place of gmx:CharacterString (or free-text) to represent the data policy (XPath `//gmd:resourceContraints/*/gmd:otherConstraints/`).  Initial findings suggest that OpenWIS currently does not support this.

Please investigate and fix if this is the case.

More information:
- [TT-GISC2016-Doc06-DataPolicies.docx](http://wis.

[2016-04-19 13:22] mgiannoni opened #173 "Openam needs downgraded Java Version"
For the Portals to be compatible with updated JDK-1.7, OpenAM must be upgraded to 12.0.0.    From examining the Forgerock release notes, there are changes in the OpenAM-Shared library API that will affect the Portals.

[openam-12.0.2-release-notes.pdf](https://github.com/OpenWIS/openwis/files/225941/openam-12.0.2-release-notes.pdf)

[openam-13-release-notes.pdf](https://github.com/OpenWIS/openwis/

[2016-04-25 14:14] zhangz555 opened #174 "openWIS 3.14-maven3 build errors"
I encounter errors when building openWIS from command line. The instructions I follow is at https://github.com/OpenWIS/openwis/tree/3.14-maven3

When I proceed to "3. Building OpenWIS, #2.Launch the Maven build", I get errors as following.

[zhangz@ws-10353 openwis]$ mvn clean install -P openwis -DskipTests -Dfile.encoding=UTF-8
[INFO] Scanning for projects...
[ERROR] [ERROR] Some problems were en

[2016-04-28 03:11] #139 closed, assigned to lmika-bom

[2016-04-29 07:36] gollogly opened #177 "Binaries / Middleware and artefact folders confusion"
There are a number of folders in the webdav repo in cloudbees which is causing some confusion.
- binaries - Holding the binaries for reference in installing the software. (This is also under the private repo and not it's own repository)
- artefacts - was unused but a more suitable location to hold release artifacts
- middleware temporary folder that only gets populated by use for the integration e

[2016-05-09 11:03] gollogly opened #180 "Update Portal code to use openam 12 federation libraries"
See https://github.com/OpenWIS/openwis-deploy/issues/22 for initial investigation which descrbies that the outdated libraries in the user and admin portals are causing federation not to function correctly under versions of jdk 7.019 and above

[2016-05-16 07:42] gollogly opened #183 "Prepare 3.14.6 Release"
- [x]   Build 3.14.6 Release
- [x]  Run on CI Environment and integration tests all pass
- [ ] Maven release 3.14.6
- [ ]  Deploy release to Environment for manual pen testing
- [ ] Update Release Documentation

[2016-05-19 12:30] gollogly opened #184 "develop and nighlty builds not building all aretefacts"
Looks like the openwis nightly and develop builds are only archiving some of the artefacts.

These needed to be added and get up to date so that a CI or release build can run against latest or nightly builds

[2016-05-19 12:38] #184 closed, assigned to gollogly

[2016-05-19 14:58] #145 closed, assigned to gollogly

[2016-05-20 10:29] gollogly opened #186 "Add licence information to openwis"

[2016-05-23 14:39] woollattd opened #189 "Browse Cache Content - search broken (v3.14.5)"
The search within 'Browse Cache Content' is broken on the Admin Portal on our DEV system
(where only Brazilia and Melbourne have been harvested and only Brazilian and Australian data is sent to the cache)
It does not dispaly the search results correctly. Only page 1 of the results does. - Not very helpful if what is being searched for is on page 2 or later.

to replicate:
on the Admin Portal > Dat

[2016-05-26 01:54] lmika-bom opened #192 "Re-enable the Arquillian tests"
The Arquillian tests were disable as part of the uplift.  Re-enable them again in order to increase test coverage.

[2016-06-08 07:54] #120 closed, assigned to gollogly

[2016-06-21 23:06] #174 closed, assigned to nobody

[2016-06-22 15:06] woollattd opened #195 "issue with harvesting/synch from Tokyo for "unassociated" metadata"
I have been informed by DWD that Tokyo are looking after the Unassociated Metadata and not them any more. (previously WIMMS)

I am trying to set up a harvest and synch task.
with this URL http://www.wis-jma.go.jp/meta/oaiprovider.jsp?verb=ListSets

I am expecting to see 'WIS-UNASSOCIATED' to set up metadata harvest but OpenWIS doesn’t see what it should, it sees something called ‘WIS centres not y

[2016-06-27 08:42] gollogly opened #196 "Puppet and OpenWIS Config consolidation"
Config files such as portal config.xml and various other application config/scripts now live under openwis and under the resource/puppets file directories. I suggest these are concolidated and removed from openwis files directories as they will easily get mismatched in future.

I recommend if the puppet scripts are used to build environments that this issue is resolved within the OpenWIS code to d

[2016-07-04 04:25] lmika-bom opened #197 "Enforcement of password complexity rules"
It looks like the Bureau will need to implement password complexity and validation rules shortly to comply with operational requirements.  I could imagine that we will not be the only one.  Examples of some of the rules the Bureau will need to implement:
- Minimum password lengths (this may be dependent on what makes up the password - a password of a certain length does not need to include special

[2016-07-04 14:33] 6a6d74 opened #198 "New behaviour required for data received where there is no metadata record"
Discussion at ICT-ISS (29 June - 1 July 2016) covered how GISCs should respond when a data record (e.g. bulletin / message)  is received but no associated metadata record can be found in the WIS DAR catalogue.

The Technical Regulations (WMO No. 1060) will be amended (pending approval at CBS16, November 2016) such that the GISC should send a notification to the originating centre that the metadata

[2016-07-05 21:43] gollogly opened #199 "alarmmanagerservice wsdl url is invalid in portals"
The current url doesn't resolve to a valid web service and throws an exception

It should be
openwis.management.useralarmmanager.wsdl=http://@dataServiceServer@/openwis-dataservice-server-ejb/UserAlarmManagerWebService/UserAlarmManagerWebService?wsdl

[2016-07-07 01:18] lmika-bom opened #200 "Potential connection leak in GetUserDisseminationParameters"
The "GetUserDisseminationParameters" handler is getting a database connection from the pool but is not closing it once it's done with it (see [line 68](https://github.com/OpenWIS/openwis/blob/develop/openwis-metadataportal/openwis-portal/src/main/java/org/openwis/metadataportal/services/dissemination/GetUserDisseminationParameters.java#L68)).

Please fix this to ensure that the connection is being

[2016-09-08 11:39] woollattd opened #209 "User Profile settings on User Portal not registering properly (v3.14.5)"
Changes to the User Profile are not registered until the User logs off and back in again.
You would expect the 'save' button to amend the info immediately.

eg changing the email address only becomes active after logging off and then back in.

[2016-09-22 11:13] woollattd opened #210 "DataService cache problem -ingesting too much data? (v3.14.5)"
I'm wondering why does v3.14.5 have more data ingested than v3.10? Is it correct to be doing so, or not?
Both systems receive exactly the same data from the same channel.
Comparing our v3.10 to v3.14.5 cache totals (snapshot) show a difference of roughly 10,000 or so more on the v3.14.5

v3.10 = 512721
v3.14.5 = 522993
difference = 10272

Why?

Something else I've noticed that may be related
There

[2016-10-12 09:53] woollattd opened #211 "question about how subscriptions are handled when metadata is removed"
small question

I notice that there has been some activity with metadata in recent months around the GISCs... so
What happens when a user has subscribed to some harvested metadata that is later removed by the originating provider?
I don't seem to be able to remove metadata manually on OpenWIS when there are subscriptions attached.
Won't this cause catalogue discrepancies between the GISCs?

[2016-10-12 10:10] rogers492 opened #212 "Package for clean open source 3.14 install"
As a potential open source contributor, user or association member, I want a package I can download that contains the OSS version of OpenWIS 3.14, ready for installation.

[2016-10-17 13:19] woollattd opened #213 "Blacklisting - setting thresholds - be aware"
I notice that when using just the default thresholds:

Nb Warn = 50
Nb Blacklist = 100

when the Nb Warn limit is reached an email is sent warning the user they have reached a threshold... But for every file sent after that point until the final email that blacklists the account they receive another warning email for every single file sent.
in this case the user receives 50 warning emails plus 1 m

[2016-10-26 20:15] rogers492 opened #214 "Check NWS Java version changes are good and raise a PR to merge"
Precursor to deciding if we go open source with v3.14.7 or 3.14.6

[2016-10-26 20:20] rogers492 opened #215 "Create v3.14.7 with NWS changes"
Once Leon has confirmed that the NWS Java version fix changes are good - create a version 3.14.7 Release.  We intend to make this release the OSS first version.

[2016-10-26 20:24] rogers492 opened #216 "Decide whether v3.14.7 or 3.14.6 will be the OSS candidate"
Assuming 3.14.7 is good, we will go OSS with that release.  But if not, make sure the 3.14.6 release is good to go.  Inform the TC of the version chosen.

[2016-10-26 20:27] rogers492 opened #217 "Update vagrant install scripts for v3.14.7"
If the NWS Java changes require vagrant script updates, then update them in preparation for going open source.

[2016-10-26 20:30] rogers492 opened #218 "Write Technical Rules"
Technical Rules page for website.

[2016-10-26 20:34] rogers492 opened #219 "Write Code of Conduct"
Find examples and propose a suitable one.

[2016-10-26 20:35] rogers492 opened #220 "Write Contributor License Agreement"
Write CLA and get reviewed by UKMO Legal.  Also circulate to other partners for Legal review (in slower time).

[2016-10-26 20:38] rogers492 opened #221 "Write Contributor License Agreement form"
A simple form contributors fill-in when they want to make a first contribution.

[2016-10-26 20:40] rogers492 opened #222 "Document Contributor License Agreement process"
The mechanics of the process the contributors and code reviewers go through.  Eg: keeping a historical record of CLAs, signed forms etc.

[2016-10-26 20:42] rogers492 opened #223 "Extend Tech Rules to cover openwis-documentation (jekyll, markdown etc)"
That is, any documentation which isn't in the code.

[2016-10-26 20:43] rogers492 opened #224 "Check MFI ok to offer support"
And how they want to promote this.

[2016-10-26 20:44] rogers492 opened #225 "Write recommended hardware specs doc"
Assuming vagrant

[2016-10-26 20:46] rogers492 opened #226 "Make updated poster available"
Especially to NWS for inclusion on the website.

[2016-10-26 20:48] rogers492 opened #227 "Update the READ.ME to bring together all the elements of the OSS release package"
code, install guide, docs, etc

[2016-10-26 20:49] rogers492 opened #228 "Link to OSS package from website"
Maybe link to the GitHub READ.ME?

[2016-10-26 20:51] rogers492 opened #229 "Publish MFI support offer on website"
Or link to an MFI page?

[2016-10-26 20:52] rogers492 opened #230 "Make the repositories public upon SC approval"
All repos or just the 3.14.6/7 code repo?

[2016-10-31 22:08] #220 closed, assigned to rogers492

[2016-11-01 12:19] 6a6d74 opened #231 "Suggested updates to README"
In ISSUE #228 @rogers492 suggests linking the OSS package to the [README](openwis/README.MD) file. +1 to that idea, _but_ in looking at the README I notice a couple of things that need to be changed.

1) [Line 3](https://github.com/OpenWIS/openwis/edit/master/README.MD#L3) there's a link to a description of the WIS at GISC Melbourne. Inclusion of this information is a good idea. Could we insert th

[2016-11-01 15:24] #219 closed, assigned to rogers492

[2016-11-02 14:54] #221 closed, assigned to rogers492

[2016-11-02 14:54] #222 closed, assigned to rogers492

[2016-11-10 15:31] rogers492 opened #233 "Improve the existing website"
Re-develop the website using the gh-pages/GitHub/Jekyll/Markdown toolset; mock up as agreed at the Dev Con 2016 Workshop.

[2016-11-10 22:30] #218 closed, assigned to lmika-bom

[2016-11-21 11:39] #227 closed, assigned to lmika-bom

[2016-11-21 11:40] #217 closed, assigned to lmika-bom

[2016-11-21 11:41] #224 closed, assigned to remy-gibault

[2016-11-21 11:42] #229 closed, assigned to solson-nws

[2016-11-21 11:44] #214 closed, assigned to lmika-bom

[2016-11-21 12:00] #226 closed, assigned to mclaudon-mto

[2016-11-21 12:01] #107 closed, assigned to OpenWIS-Association

[2016-11-21 12:02] #223 closed, assigned to lmika-bom

[2016-11-21 12:04] #216 closed, assigned to lmika-bom

[2016-11-22 10:03] woollattd opened #236 "Error in "Track my Requests" on User Portal"
In the User Portal, under 'My Account'>'Track my requests'>'Requests' there is an Error produced when trying to view an 'old' request shown in the 'User alarms' table.
(note- the requests can be viewed should an alert happen on the day they are requested).

![up-error](https://cloud.githubusercontent.com/assets/6514963/20519359/8a388d0e-b09a-11e6-9a95-42f85575489b.jpg)

This is not particularly he

[2016-11-22 13:53] cmteam-metoffice commented on #230
I have now made openwis, openwis4 and the openwis-documentation repositories public.

[2016-11-22 15:28] rogers492 commented on #215
Release [3.14.7](https://github.com/OpenWIS/openwis/tree/release/openwis-3.14.7)

[2016-11-22 15:28] #215 closed

[2016-11-22 15:33] rogers492 commented on #228
Linked from OpenWIS Project web-page to code repo (develop branch), with README.

[2016-11-22 15:33] #228 closed

[2016-11-22 15:40] rogers492 commented on #230
Approved by Jeremy Tandy 18th November 2016.

[2016-11-22 15:40] #230 closed

[2016-11-22 15:45] rogers492 commented on #233
The new website is now published.

[2016-11-22 15:45] #233 closed

[2016-11-25 13:36] rogers492 commented on #212
Package published.

[2016-11-25 13:36] #212 closed

[2016-11-29 10:15] woollattd opened #237 "need a way to update subscription delivery addresses for multiple subscriptions for a user in bulk"
I have taken a look on the User Portal and don't see a method for a user to update destination address for multiple subscriptions, other than opening each subscription and modifying the destination manually.
This is very non user friendly since it is possible (expected) to have scores of subscriptions.
Hopefully we can make sure this is possible in OpenWIS v4.x

[2016-11-30 15:18] mclaudon-mto opened #238 "Response Time to get a metadata"
For some reason, it takes roughly 10 secondes to get the response for a request to a metadata.
It seems to be generic in all GISCs. For example  :
MeteoFrance : http://wispi.meteo.fr/openwis-user-portal/srv/en/iso19139.xml?uuid=urn:x-wmo:md:fr.meteofrance::MF-NWP-HIGHRES-AROME-0025-FRANCE-WMS
Bom : http://wis.bom.gov.au/openwis-user-portal/srv/en/iso19139.xml?id=341685

Is it linked to SOLR ? to t

[2016-11-30 15:50] woollattd commented on #238
do you know if this was the case before the uplift or since you had v3.14.6 installed?

[2016-12-01 14:11] mclaudon-mto commented on #238
Yes, for the link I mentioned above, it is a 3.13.1 version of openwis which is used (and still currently operational in Meteo-France).

[2016-12-01 15:08] woollattd commented on #238
BOM have 3.13.1 installed on Production too. (I don't think they need to comply with INSPIRE though)
Do you see the same issue on our GISC (v3.14.5)? at https://gisc.metoffice.gov.uk

I just get errors trying to replicate the problem :-( so must be doing something wrong trying to create the address with our metadata

eg
https://gisc.metoffice.gov.uk/openwis-user-portal/srv/en/iso19139.xml?uuid=urn

[2016-12-01 15:16] mclaudon-mto commented on #238
The url you mentioned above is wrong (Metadata not found).

I try with this one on your GISC :
https://gisc.metoffice.gov.uk/openwis-user-portal/srv/en/iso19139.xml?id=155310

It is a bit faster : 5 seconds.

[2016-12-01 15:30] woollattd commented on #238
is 5 seconds enough?
there might have been some improvements in the uplift that have led to the slightly faster time. I am guessing though.

[2016-12-01 15:37] mclaudon-mto commented on #238
I am going to check with the team.

[2016-12-07 00:37] lmika-bom commented on #238
Some incidental stats from GISC Melbourne: it takes roughly 10 - 30 seconds to get metadata XML using this endpoint (tested from Japan so network might have _some_ impact, but it always took several seconds).

We've done no profiling so I don't know where the slow-down is.  The uplift might make it a little faster, but I imagine the slow-down is somewhere in the application.  If we're are interest

[2016-12-13 21:17] lmika-bom opened #239 "Various bugs in the OAI-PMH harvester"
There are various bugs in the OAI-PMH harvesting client in OpenWIS 3.x which makes it impossible to harvest metadata from a HTTPS endpoint.  This came to light with the switch-over to HTTPS only harvesting from GISC Exeter.

The bugs are located in the "oaipmh" project:

1. In "Transport.java", the HTTP client is configured to form a cleartext HTTP connection regardless of the URL scheme taken fro

[2016-12-13 21:19] lmika-bom commented on #239
The hint for bug 1 is "Transport.java" line 244.  The call to `config.setHost()` hard-codes the scheme to "http" instead of pick up the scheme from the URL.  The fix for bug 2 regarding redirects could probably be fixed by looking at the Javadoc of Apache commons HttpClient version 3.0.1 (which differs from the latest version).

[2016-12-13 23:55] lmika-bom commented on #239
After investigating bug 2 a little more, not following redirects for POST messages is actually a design decision by the HTTP client used (RFC 2616 is referenced).  Therefore, POST redirects may need to be handled manually (or not at all).

[2016-12-13 23:59] ywang-bom commented on #239
Or maybe the OAI-PMH requests should use GET instead of POST. Though the OAI-PMH Spec does not dictate the HTTP method, it feels more appropriate to use GET.

[2016-12-14 00:04] lmika-bom commented on #239
The `Transport` class does support either GET or POST, with POST being the default.  There is also a public method to change the HTTP method, but it doesn't look to be used.  I can change the default to GET and see if this would cause any problems.

[2016-12-14 03:13] lmika-bom commented on #239
Initial PR containing fixes for 1 and 3.  Will wait for a discussion of the use of GET and POST before fixing 2.

[2016-12-15 15:19] jpjanecek-mto opened #241 "MonitoringRequestWindow : Improve of request/subscriptions windows"
In the admin portal the user's process id is not present in the current query monitoring table (Data service > Monitor current requests > Current requests). A field "process id" could be added.

[2016-12-15 15:22] jpjanecek-mto opened #242 "Solr index mishandling"
UpdateIndex bug : the record of SpatialIndex table is in fact an append.
Solr bug : duplicated request index at metadata creation.

[2016-12-15 15:23] jpjanecek-mto opened #243 "BlackListingSeuilWarning : wrong parameter type (int => long) in blacklisting warning"

[2016-12-15 15:25] jpjanecek-mto opened #244 "Improving information at user creation"
RegisterAtUserCreation : At user creation, append message to specifiy that account = email
SendMailAtUserCreation : Properties modification for body message

[2017-01-13 12:44] rogers492 commented on #231
Since the text on the Melbourne About-Page includes general references to OpenWIS and specific references to Melbourne GISC, I have used the more general text that Exeter, Toulouse and Washington all have in common:
OpenWIS is an implementation of the WMO Information System.

The World Meteorological Organization (WMO) has been working for several years towards upgrading its global infrastructure

[2017-01-13 12:59] rogers492 commented on #231
I have updated the Copyright ans License section almost exactly as @6a6d74 suggests.

[2017-01-13 13:11] rogers492 commented on #231
Hi @adrian-wood : Would you please merge PRs #245 and #246 and then close this issue. ta, Paul

[2017-01-26 15:42] rogers492 opened #250 "Confusion of README files on GitHub"
We have 2 different README files on GitHub - which one you see depends on which branch you open (try master vs develop).  Is this deliberate?  It seems confusing to me and makes keeping project info up to date a little complex.

Release 3.14.7.1 currently has the develop style README, but was created as the preferred operational branch, so I assume it needs to direct people to Dimitris' installati

[2017-01-26 20:59] lmika-bom commented on #250
Probably the one in develop, as that was the one updated as part of the OSS release.

[2017-02-09 15:20] rogers492 commented on #173
Fixed in version 3.14.8

[2017-02-09 15:20] #173 closed

[2017-02-09 15:23] rogers492 commented on #177
Fixed in 3.14.7 open source package #212

[2017-02-09 15:23] #177 closed

[2017-02-09 15:24] rogers492 commented on #129
Fixed in 3.14.7 and 3.14.8

[2017-02-09 15:24] #129 closed

[2017-02-09 16:09] rogers492 commented on #183
Release complete and superseded.

[2017-02-09 16:09] #183 closed

[2017-02-09 16:11] rogers492 commented on #180
jdk version issue resolved.

[2017-02-09 16:11] #180 closed

[2017-02-09 16:17] rogers492 commented on #136
OpenWIS is now using maven 3 for current builds.

[2017-02-09 16:17] #136 closed

[2017-02-09 16:22] rogers492 commented on #114
The jdk version issues have been resolved in 3.14.7 and later.

[2017-02-09 16:22] #114 closed

[2017-02-14 02:53] lmika-bom commented on #68
Replaced the label "Access" with "Retrieval" as this is related to back-end cache management.

[2017-02-21 02:18] lmika-bom commented on #244
Can be fixed for version 3 and maybe version 4, but coordination with GeoNetwork would be required.

[2017-02-21 02:35] lmika-bom commented on #250
This affects version 3 but it might be necessary to revised the Readme for OpenWIS 4 a little.

[2017-02-21 02:45] lmika-bom commented on #242
Set milestone to `v3` only as index handling may be quite different in GN 3 (OpenWIS 4).

[2017-02-21 02:46] lmika-bom commented on #241
Check in OpenWIS 4 as that UI would probably be modelled from OpenWIS 3.0.

[2017-02-21 02:47] lmika-bom commented on #239
Point 2 is the only thing keeping this issue open.  If we don't want to do this, this issue can be closed.

[2017-02-21 02:48] lmika-bom commented on #238
Set to fix for v3 only.  There's issues with the harvester within OpenWIS 4 but this is in a separate ticket.

[2017-02-21 02:49] lmika-bom commented on #237
Not sure it's worth perusing this feature in OpenWIS 3.0

[2017-02-21 02:52] lmika-bom commented on #225
Similar specs will need to be written for OpenWIS v4.

[2017-02-21 03:01] lmika-bom commented on #211
No real reason to fix this for v3, but might be worth thinking about for v4 as this is re-implemented.

[2017-02-21 03:03] lmika-bom commented on #210
Looks like an issue that affects v3, though might be worth retesting for v4.

[2017-02-21 03:05] lmika-bom commented on #199
Not clear where this miss-configuration occurs.  May affect data service default configuration, hence `v3-and-v4`.

[2017-02-21 03:05] lmika-bom commented on #199
Actually, probably easier to just close this one.

[2017-02-21 03:06] lmika-bom commented on #198
Review for version 4.  No real reason to revise such a large-scale change for v3.

[2017-02-21 03:07] lmika-bom commented on #197
Required for the Bureau, but we'll just modify our own fork.  Would be nice for version 4.

[2017-02-21 03:08] lmika-bom commented on #196
Not sure what this is, but tied to a PR that was closed 7 months ago.  So marking it as "Close Me".

[2017-02-21 03:15] lmika-bom commented on #44
This has been fixed.  Can be closed.

[2017-02-21 03:15] lmika-bom commented on #189
This has been fixed.  Can be closed.

[2017-02-21 03:17] lmika-bom commented on #186
We've got a license now and it's in README.md.  So, happy to close.

[2017-02-21 03:19] lmika-bom commented on #172
Have been pushed by TT-GISC-2016 so should get this fixed if it's not doing this already.

[2017-02-21 03:23] lmika-bom commented on #169
We've got a working Vagrant for 3.0 so may not be worth investing too much into the purity of the solution.

[2017-02-21 03:25] lmika-bom commented on #166
This has been fixed for v3 but check for v4.

[2017-02-21 03:26] lmika-bom commented on #165
Good to take this into account when porting this feature to v4.

[2017-02-21 03:28] lmika-bom commented on #162
A potential attack vector in v3 that should probably be fixed.  Also something to think about for v4.

[2017-02-21 03:28] lmika-bom commented on #161
Affects the data services so fixable for both v3 and v4.

[2017-02-21 03:29] lmika-bom commented on #160
To consider when porting this feature to v4.

[2017-02-21 03:32] lmika-bom commented on #159
This might be a configuration issue.  Please check if this is still occurring.

[2017-02-21 03:33] lmika-bom commented on #158
Maybe just fix this for v4.

[2017-02-21 03:35] lmika-bom commented on #157
This might be an issue with individual dissemination harnesses.

[2017-02-21 03:36] lmika-bom commented on #156
Affects the data services.  Can be fixed for v3 and v4.

[2017-02-21 03:39] lmika-bom commented on #151
Hopefully by the next leap year, OpenWIS 3.x would have been retired.

[2017-02-21 03:40] lmika-bom commented on #135
Low impact issue which comes from using ExtJS, that has been superseeded by Angular.

[2017-02-21 04:20] lmika-bom commented on #126
I think this can be considered done.

[2017-02-21 04:21] lmika-bom commented on #125
Not sure this is relevant for core OpenWIS project.  So, marking it as "Close Me".

[2017-02-21 09:00] woollattd commented on #44
Which version is this fixed in?
it still happens in v3.14.6

[2017-02-22 01:55] lmika-bom commented on #44
Is it?  Ok, my mistake.  The [PR which claimed to contain the fix for this](https://github.com/OpenWIS/openwis/pull/191) was merged.  But if it's still occurring, I'll remove the "Close Me" tag.

[2017-02-22 02:02] lmika-bom commented on #44
@solson-nws or @mgiannoni, are you running OpenWIS 3.14.7?  If so, could you please give this a quick check to see if it's still occurring?

[2017-02-22 03:52] lmika-bom commented on #122
This should be thought about when working out how categories work in OpenWIS 4.

[2017-02-22 03:56] lmika-bom commented on #119
Affects the data services so the fix both OpenWIS version 3 and 4.

[2017-02-22 03:59] lmika-bom commented on #118
I think this might be the case in OpenWIS 4 as well, but I'm not sure if we would be in a position to fix this as that might be how the GeoNetwork developers will want it.  So we might need to either discuss this with them, or make sure an alternative procedure to keep the metadata whilst deleting the harvesting tasks exist.

[2017-02-22 04:01] lmika-bom commented on #105
Deferred until OpenWIS 4, as per the PR.

[2017-02-22 04:01] lmika-bom commented on #93
Affects the data services.

[2017-02-22 04:03] lmika-bom commented on #90
Worth investigating for OpenWIS 4 but maybe not worth doing so for OpenWIS 3.

[2017-03-01 16:38] rogers492 commented on #186
I confirm that the license info is in the READ.ME of both openwis v3 and v4 repos.

[2017-03-01 16:38] #186 closed

[2017-03-01 16:40] rogers492 commented on #250
I have updated the README for v4 (https://github.com/OpenWIS/openwis4/blob/develop/README.md) to include preamble on WIS and license info.  V3 also has the license info etc, so closing this.

[2017-03-01 16:40] #250 closed

[2017-03-01 16:41] rogers492 commented on #231
This information has now been put into the READMEs for v3 and v4 - issue closed.

[2017-03-01 16:41] #231 closed

[2017-03-02 10:47] rogers492 commented on #199
ok, closed.

[2017-03-02 10:47] #199 closed

[2017-03-02 10:48] rogers492 commented on #196
ok, closed.

[2017-03-02 10:48] #196 closed

[2017-03-02 10:48] rogers492 commented on #192
ok, closed.

[2017-03-02 10:48] #192 closed

[2017-03-02 10:49] rogers492 commented on #189
ok, closed.

[2017-03-02 10:49] #189 closed

[2017-03-02 10:49] rogers492 commented on #169
ok, closed.

[2017-03-02 10:49] #169 closed

[2017-03-02 10:52] rogers492 commented on #157
So, @woollattd does this issue belong in our harness repo?

[2017-03-02 10:53] rogers492 commented on #151
ok, closed.

[2017-03-02 10:54] rogers492 commented on #135
ok, closed.

[2017-03-02 10:54] #135 closed

[2017-03-02 10:54] rogers492 commented on #126
Ok, closed.

[2017-03-02 10:54] #126 closed

[2017-03-02 10:56] rogers492 commented on #125
Agreed, it's an operations question - closed.

[2017-03-02 10:56] #125 closed

[2017-03-02 11:47] woollattd commented on #157
I don't know.
I think it's an most likely an OpenWIS  issue - as the option is available in the portal - but no idea what the mechanism is to handle the renaming. I suspect that OpenWIS creates the file and sends the data via the harness.

[2017-03-02 20:53] lmika-bom commented on #157
Hi @woollattd, I don't think OpenWIS does the renaming itself.  I think it leaves it up to the dissemination harness to do the renaming.  OpenWIS just drops the file using it's own naming convention - the original file-name or "tmp.zip" - and expects the dissemination harness to use the new filename when attaching to an email or uploading it to the server.

At least, that's how it works in the Bur

[2017-03-02 20:59] lmika-bom commented on #89
I believe that this is still a problem in v3.  I'm not sure what the status of this would be in v4.  It may need an investigation.

[2017-03-02 21:01] lmika-bom commented on #88
The detailed report is one of the features we will need to port to v4 if GN didn't build a similar feature that we can use.

[2017-03-02 21:02] lmika-bom commented on #85
Not worth doing for v3 but maybe worth considering when the sub-selection parameter feature is ported to v4.

[2017-03-02 21:04] lmika-bom commented on #84
May not be worth doing this late in v3 life-cycle, but worth looking to see if this may still be a problem in OpenWIS 4.  Maybe GN has addressed it.  If not, this may be something that we can contribute back as I'm sure we wouldn't be the only ones this happens to.

[2017-03-02 21:06] lmika-bom commented on #75
Not sure if this is still an issue.  It's been opened for a year and a half so I suggest closing it.  If it happens again, we could raise a new ticket.

[2017-03-02 21:08] lmika-bom commented on #74
This is a nice to have.  I don't think it's worth perusing this for v3.  Also, we're sort of bound as to how we handle this for OpenWIS 4 as most of the database connection handling would be done by GeoNetworks and we may need to consult them to make any large scale changes in this regard.

Marking it as "Close Me" for now.

[2017-03-02 21:09] lmika-bom commented on #73
Should be looks at for v4.

[2017-03-02 21:11] lmika-bom commented on #72
This affects the management services, so a fix for v4 should also fix v3.

[2017-03-02 21:12] lmika-bom commented on #68
Affects the data services so can be fix both for v3 and v4.

[2017-03-02 21:39] lmika-bom commented on #77
Revisit for v4, if still relevant.  There is an RSS feed on GeoNetworks but it only covers all metadata.  That might be enough though.

[2017-03-02 22:13] rogers492 commented on #159
Ok, closed. Will raise again if it comes up in testing.

[2017-03-02 22:25] rogers492 commented on #157
Ok, let's leave this open to do some analysis of how this should work.

[2017-03-02 22:28] rogers492 commented on #75
Ok, closed.

[2017-03-02 22:28] #75 closed

[2017-03-02 22:29] rogers492 commented on #74
Ok, closed.

[2017-03-02 22:41] rogers492 commented on #32
This issue was moved to OpenWIS/openwis4#40

[2017-03-02 22:57] lmika-bom commented on #157
I'll set the milestone to v3-and-v4 as this affects the data services and a change in one version will fix it for the other.

[2017-03-03 09:40] rogers492 commented on #69
This issue was moved to OpenWIS/openwis4#41

[2017-03-03 09:40] rogers492 commented on #73
This issue was moved to OpenWIS/openwis4#42

[2017-03-03 09:41] rogers492 commented on #77
This issue was moved to OpenWIS/openwis4#43

[2017-03-03 09:42] rogers492 commented on #84
This issue was moved to OpenWIS/openwis4#44

[2017-03-03 09:42] rogers492 commented on #85
This issue was moved to OpenWIS/openwis4#45

[2017-03-03 09:42] rogers492 commented on #90
This issue was moved to OpenWIS/openwis4#46

[2017-03-03 09:43] rogers492 commented on #105
This issue was moved to OpenWIS/openwis4#47

[2017-03-03 09:43] rogers492 commented on #118
This issue was moved to OpenWIS/openwis4#48

[2017-03-03 09:43] rogers492 commented on #152
This issue was moved to OpenWIS/openwis4#49

[2017-03-03 09:44] rogers492 commented on #158
This issue was moved to OpenWIS/openwis4#50

[2017-03-03 09:44] rogers492 commented on #160
This issue was moved to OpenWIS/openwis4#51

[2017-03-03 09:44] rogers492 commented on #165
This issue was moved to OpenWIS/openwis4#52

[2017-03-03 09:45] rogers492 commented on #166
This issue was moved to OpenWIS/openwis4#53

[2017-03-03 09:45] rogers492 commented on #197
This issue was moved to OpenWIS/openwis4#54

[2017-03-03 09:46] rogers492 commented on #198
This issue was moved to OpenWIS/openwis4#55

[2017-03-03 09:46] rogers492 commented on #211
This issue was moved to OpenWIS/openwis4#56

[2017-03-03 09:46] #211 closed

[2017-03-03 09:47] rogers492 commented on #225
This issue was moved to OpenWIS/openwis4#57

[2017-03-03 09:47] #225 closed

[2017-03-03 09:47] rogers492 commented on #237
This issue was moved to OpenWIS/openwis4#58

[2017-03-03 09:47] #237 closed

[2017-03-03 09:47] rogers492 commented on #243
This issue was moved to OpenWIS/openwis4#59

[2017-03-03 09:48] rogers492 commented on #244
This issue was moved to OpenWIS/openwis4#60

[2017-03-03 09:52] rogers492 commented on #68
This issue was moved to OpenWIS/openwis4#61

[2017-03-03 09:53] rogers492 commented on #72
This issue was moved to OpenWIS/openwis4#62

[2017-03-03 09:53] rogers492 commented on #88
This issue was moved to OpenWIS/openwis4#63

[2017-03-03 09:53] rogers492 commented on #89
This issue was moved to OpenWIS/openwis4#64

[2017-03-03 09:53] rogers492 commented on #93
This issue was moved to OpenWIS/openwis4#65

[2017-03-03 09:54] rogers492 commented on #119
This issue was moved to OpenWIS/openwis4#66

[2017-03-03 09:54] rogers492 commented on #122
This issue was moved to OpenWIS/openwis4#67

[2017-03-03 09:54] rogers492 commented on #123
This issue was moved to OpenWIS/openwis4#68

[2017-03-03 09:55] rogers492 commented on #124
This issue was moved to OpenWIS/openwis4#69

[2017-03-03 09:55] rogers492 commented on #156
This issue was moved to OpenWIS/openwis4#70

[2017-03-03 09:55] rogers492 commented on #157
This issue was moved to OpenWIS/openwis4#71

[2017-03-03 09:56] rogers492 commented on #161
This issue was moved to OpenWIS/openwis4#72

[2017-03-03 09:56] rogers492 commented on #162
This issue was moved to OpenWIS/openwis4#73

[2017-03-03 09:57] rogers492 commented on #172
This issue was moved to OpenWIS/openwis4#74

[2017-03-03 09:57] #172 closed

[2017-03-03 09:57] rogers492 commented on #213
This issue was moved to OpenWIS/openwis4#75

[2017-03-03 09:57] #213 closed

[2017-03-03 09:57] rogers492 commented on #241
This issue was moved to OpenWIS/openwis4#76

[2017-03-03 09:57] #241 closed

[2017-03-03 10:08] rogers492 commented on #241
This issue was moved to OpenWIS/openwis4#77

[2017-03-30 13:57] mgiannoni opened #254 "Closed ForgeRock Repo ?"
Unable to resolve ForgeRock dependencides.  Should I be using a local build of the ForgeRock components?

Failed to read artifact descriptor for org.forgerock.openam:openam-idpdiscovery:jar:12.0.0:
Could not transfer artifact org.forgerock.openam:openam-idpdiscovery:pom:12.0.0 from/to forgerock-staging-repo (http://maven.forgerock.org/repo/releases):  Not authorized , ReasonPhrase:Unauthorized.

[2017-03-30 14:21] rogers492 commented on #254
Hi Marc, is this the same issue we just discussed on the scrum call?  What are you trying to build?  The guys from ED are just finishing the 3.14.8 build which includes the resolution of the closed ForgeRock repo.  That activity is part of this ticket: https://github.com/OpenWIS/openwis-documentation/issues/182

[2017-03-30 14:26] mgiannoni commented on #254
Paul

Yes.  When I heard about the issue, I attempted a fresh 3.14.8 build and
verified the problem.
Forgerock apparently has outsourced their repo
<http://maven.forgerock.org/repo/webapp/#/home> .  I was not able to access
the URL from the Maven Build without a password.
My Forgerock "backstage" account does not have enough privilege.

Cheers!

Marc Giannoni
Unix System Engineer
Phone: 301.427.94

[2017-03-30 16:00] rogers492 commented on #254
Ok. The ED guys will be putting the ForgeRock artefacts onto their server and pointing maven at that.  When they're done you are free to do the same.

[2017-03-30 16:02] rogers492 commented on #254
Hi @dimipapadeas Please let @mgiannoni know when you have the ForgeRock artefacts ready.
cheers!

[2017-03-31 09:18] dimipapadeas commented on #254
@mgiannoni we have submitted a Pull Request [255](https://github.com/OpenWIS/openwis/pull/255), I will let you as soon as it is merged.

[2017-05-11 14:18] mgiannoni commented on #254
Works!  Thanks for the fix...

[2017-05-11 14:18] #254 closed

[2017-05-12 09:26] tg4444 opened #260 "Forgerock artifacts"
Forgerock has closed access to its public repositories more than a month ago.
Initially they stated that it was routine maintenance/upgrade, but in their forums they were urging anyone without a commercial account to build from the sources, as is required by the license for their software.

In order for OpenWIS to be completely independent from third-party repositories that host Forgerock artifact

[2017-05-12 10:26] rogers492 commented on #260
So, @solson-nws @lmika-bom do we want to assign/prioritize this work?

[2017-05-12 14:02] mgiannoni commented on #260
There is a thread about about a similar problem compiling OpenAM and OpenDJ on the ForgeRock community:

https://forum.forgerock.com/topic/openam-source-code-compilation-error/

OpenDJ Build:
https://gist.github.com/aldaris/fe234d76f3940c42ae9bb5aa69b8e98e

OpenAM Build:
https://gist.github.com/aldaris/6a630fb77ada352f4b3bb5f1144892df

[2017-05-19 14:01] mgiannoni opened #261 "Java8 Compatibility"
Using Java-8 and Maven-3 I was able to build OpenAM-13.0.0 and OpenDJ-3.0.0 plus all of OpenWIS.  Look at [open-dj-am-install-scripts issue](https://github.com/OpenWIS/open-dj-am-install-scripts/issues/8) for the OpenAM and OpenDJ build.  Authentication system deployment was successful, and I was able to setup the Federation, however the portals had a Java Servelet problem and did not open.  To te

[2017-05-19 20:00] mgiannoni commented on #261
Here is a Portal Deployment Exception:

[2017-05-19 20:06] mgiannoni commented on #261
Here is the Error when accessing the portal site

`2017-05-18 20:22:08,788 INFO  [jeeves.request] - HTML Request (from 140.90.90.106) : /openwis%2Dadmin%2Dportal/srv/en/main.home
2017-05-18 20:22:08,810 INFO  [jeeves.service] - Dispatching : main.home
2017-05-18 20:22:08,810 INFO  [jeeves.service] -    -> dispatching to output for : main.home
2017-05-18 20:22:08,818 ERROR [jeeves.service] - Raised

[2017-05-19 20:21] mgiannoni commented on #260
I successfully built OpenAM 13.0.0 and OpenDJ 3.0.0 using the two scripts.
I also able to build OpenWIS with the newer versions my changing openwis-metadataportal/openwis-portal/pom.xml

`[openwis@openwis-d3 openwis]$ git diff openwis-metadataportal/openwis-portal/pom.xml
diff --git a/openwis-metadataportal/openwis-portal/pom.xml b/openwis-metadataportal/openwis-portal/pom.xml
index 1e7258a..d11bf

[2017-05-23 13:43] dimipapadeas commented on #261
Dear @mgiannoni ,
OpenWIS v3 is built using maven 2.2.1 and Java 7.
You can find a comrehensive installation guide [here](https://github.com/OpenWIS/openwis/wiki/v3.14.5.1-Deployment-Instructions)

Please let me know if you have any other questions.

[2017-06-16 09:35] rogers492 opened #262 "SRU response does not include the resource location"
@lmika-bom Is this true? @6a6d74 has been challenged by WMO Dave Thomas on this. Though Jeremy thinks the tech specs do not require this, we would like to know if OpenWIS does or does not do this.

[2017-07-18 10:00] woollattd opened #264 "Metadata Synchronisation - issue"
It appears that there is an issue synchronising with Meteo France via OpenWIS (we're on v3.14.5).
Currently Exeter and Melbourne are showing 4760 records for Toulouse - when Toulouse shows there should be 4773. (difference = 13) It has been like this for a few weeks.

The outstanding files appear to be:
urn:x-wmo:md:fr.meteo.dcpc-nwp::HYCOM2D-MARO_0.04_SP1_GRIB2;0;
urn:x-wmo:md:fr.meteo.dcpc-nwp::

[2017-07-18 22:34] lmika-bom opened #265 "Investigate approaches for uplifting JBoss"
JBoss AS 7.1 and Java 7 has been EOL, so we will need to start the process of uplifting the J2EE container used for the data and management services, along with the version of Java that will be used to run them.

Some ideas:

- **WildFly**: next version of the community edition of JBoss.  The latest stable release is 10 (released August 2016), although version 8 is still supported for the time bei

[2017-07-18 22:51] lmika-bom opened #266 "ForgeRock components are EOL"
The ForgeRock components used by OpenWIS 3.14 (OpenAM-12.0.0 and OpenDJ-2.6.0) have been EOL, meaning that we will need to uplift them.  As part of this, it would also be worth revising the use of the 3rd party repositories used to build the open-source components that integrate with OpenAM and OpenDJ.  Alternatively, we can use something other than OpenAM and OpenDJ for authentication.

Things to

[2017-07-18 23:00] lmika-bom opened #267 "Spring Framework used within the portals"
The version of Spring used with the OpenWIS portals (i.e. the one bundled with the original version of GeoNetwork) in OpenWIS 3 will require uplifting as the version currently in use (version 4.1.5) has been EOL.

Please uplift Spring used within the portals.  The currently supported version is Spring 4.3.9.  It should be as simple as changing the version number in the POM file.

[2017-07-18 23:44] lmika-bom commented on #265
From reviewing the minutes from the face-to-face TC meeting in Feb 2015 in Melbourne, it was recommended that:

- A container that is open-source is used.
- There would be significant rework in using something other than J2EE.

Please note that this was made 2.5 years ago, so it is worth re-evaluating these remarks (although I think the first one is still valid).

    - Had experience targeting co

[2017-08-10 22:19] lmika-bom opened #271 "Bulk removal of metadata records"
This has been an issue that has cropped up a number of times at the Bureau and NWS, and I'm sure others are experiencing this issue as well.  It is just too darn painful to remove metadata records in bulk.  The actual process of removing a metadata record is too slow, and it is almost impossible to do so in bulk from within the UI is extremely inefficient.  This results in people considering runni

[2017-08-11 10:18] woollattd commented on #271
Great idea.

Yup - I agree this is painful. Especially since NCs are included in the  our WIS-GISC-EXETER category.

Would it be possible to generate the list of URNs by running a search in the gui and storing the resulting URNs in a report (that can be extracted and modified if needed), then used as the text file?
This could hopefully speed up the process of preparing a text file with a list of U

[2017-08-11 10:26] woollattd commented on #264
It also appears be an issue generally with non-OpenWIS GISCs as some of them are shoiwing incorrect totals for Toulouse.
eg DWD has 3534 records
CMA has 4500

Of course it may be that metadata synchronisation just doesn't work properly in general as it seems that it's not just Toulouse records that are out of synch between all the GISCs, but I would hope that it would work between GISCs using Open

[2017-08-11 13:18] rogers492 commented on #271
Is this for 3.14?

[2017-08-14 00:35] lmika-bom commented on #271
At a minimum, I plan to merge this into "develop" but I can merge it into any of the release branches as well if people want.  I'm also thinking of backporting this to 3.13.1 as that's the current version running at the BoM.

I have not yet started work on this so feel free to submit ideas, criticisms, etc.  I hope to start on this some time this week.

[2017-08-14 01:12] lingt commented on #271
Is it possible to have an option to remove all the metadata records from
one category without uploading a text file containing the URNs?

On Sun, Aug 13, 2017 at 8:35 PM, Leon Mika <notifications@github.com> wrote:

[2017-08-14 05:22] lmika-bom commented on #271
@lingt, I think I rather just stick with a text file to begin with.  I would like to keep this feature relatively simple to implement but flexible enough to be used in a variety of situations.  My feelings are that it should be relatively trivial to get the list of URNs for a category (e.g. a database query) and pop it in a text file.  It would be more work than simply selecting the category from

[2017-08-14 14:11] lingt commented on #271
Leon,

Ok, I understand.

Ling

On Mon, Aug 14, 2017 at 1:22 AM, Leon Mika <notifications@github.com> wrote:

[2017-08-14 23:48] lingt commented on #271
We setup a file system harvesting task to harvest from a file directory.
Mark notices that if we empty the file directory
(/opt/IDP-OpenWIS/metadata) and run the file system harvesting job , the
job would delete all the metadata from the category (WIS-GISC-WASHINGTON).
But it deletes about 12 records/min, it'd take more than 10 hours to remove
our 7721 records.  Not sure if it'd cause any other is

[2017-08-25 13:08] rogers492 opened #272 "Upgrading Security Service to use OpenAM 3.x and OpenDJ 3.x"
_From @mgiannoni on August 14, 2017 18:23_

Update ForgeRock common libraries from 12.0.0 to 13.0.0:
1. openwis/pom.xml
Multiple changes in ForgeRock API javascript:
2. openwis-metadataportal/openwis-portal/src/main/webapp/saml2/jsp/

_Copied from original issue: OpenWIS/openwis-documentation#308_

[2017-08-25 13:09] rogers492 opened #273 "OpenWIS Portal support for Java-8"
_From @mgiannoni on August 14, 2017 18:19_

Update GeoNetwork Spring version from 4.1.5 to version 4.2.4:
1. openwis/pom.xml
2. openwis/openwis-metadataportal/openwis-portal/pom.xml

_Copied from original issue: OpenWIS/openwis-documentation#307_

[2017-08-25 13:09] rogers492 opened #274 "Jboss WildFly 8.2.x OpenWIS DataService Support"
_From @mgiannoni on August 14, 2017 17:42_

1. change the application.xml in openwis-dataservice.ear:  <initialize-in-order>true</initialize-in-order> to  <initialize-in-order>false</initialize-in-order>.

2. change six enterprise beans' jndi lookup strings to use java:app namespace instead of ejb: namespace: DisseminationManagerTimerService, DisseminationStatusMonitor, PackedFeedingTimerService,

[2017-09-06 18:26] mgiannoni commented on #272
Successful Federation Authentication trial with OpenAM 13.0.0 with OpenDJ 3.0.0 with the new OpenAM 13.0.0 common libraries in the GeoNetwork portal code!  Request for a branch named "Platform Support" so we can post our changes.

[2017-09-06 18:28] mgiannoni commented on #273
Successful Portal launch trial with OpenAM 13.0.0 with OpenDJ 3.0.0 with the new OpenAM 13.0.0 common libraries in the GeoNetwork portal code! Request for a branch named "Platform Support" so we can post our changes.

[2017-09-06 18:29] mgiannoni commented on #274
Successful DataService ManagementService deployment with Java-8 and Wildfly 8! Request for a branch named "Platform Support" so we can post our changes.

[2017-09-07 20:42] mgiannoni commented on #266
Successful Federation Authentication trial with OpenAM 13.0.0 with OpenDJ 3.0.0 with the new OpenAM 13.0.0 common libraries in the GeoNetwork portal code! Request for a branch named "Platform Support" so we can post our changes:

modified:   pom.xml
modified:   openwis-metadataportal/pom.xml
modified:   openwis-metadataportal/openwis-portal/pom.xml
modified:   openwis-metadataportal/openwis-portal

[2017-09-07 20:44] mgiannoni commented on #267
Successful OpenWIS admin-portal and user-portal deployment using GeoNetwork portal code with spring version 4.2.4.RELEASE and spring security version 3.2.0.RELEASE! Request for a branch named "Platform Support" so we can post our changes

modified:   pom.xml
modified:   openwis-metadataportal/pom.xml
modified:   openwis-metadataportal/openwis-portal/pom.xml
modified:   openwis-metadataportal/openw

[2017-09-07 20:52] mgiannoni commented on #261
See Issue(s): #274 #272 #273

[2017-09-07 20:53] mgiannoni commented on #265
We have a port to WildFly 8: See issue: #274

[2017-10-13 11:53] ussof opened #275 "Initialise centre in LDAP"
Hello everybody !
I've been following the deployment instructions of the 3.14.5 version of openwis (https://github.com/OpenWIS/openwis/wiki/v3.14.5.1-Deployment-Instructions) and i'm stuck in the 3.5 section of the installation that explains how to initialise the LDAP centre. this is what i get each time i try to initialise a centre :
************************************************************
--

[2017-10-13 12:23] dimipapadeas commented on #275
Hi @ussof ,
please verify that you are using the proper version of JDK  as described at [2.4.1 JAVA RPM install](https://github.com/OpenWIS/openwis/wiki/v3.14.5.1-Deployment-Instructions#241java-rpm-install)

 Also check  the configured values in the file populateLDAP.sh of **CLASSPATH** and **java -classpath** to be  likewise the following example:

![image](https://user-images.githubusercontent.

[2017-10-13 13:50] ussof commented on #275
Hi @dimipapadeas,
Thanks for the quick reply
this is the content of populateLDAP.sh :
***************************************************
RACINE=.
LIB=$RACINE/lib

for jarFile in $LIB/*.jar; do
	APP_LIB="$APP_LIB:$jarFile"
done

CLASSPATH="$APP_LIB:openwis-securityservice-utils-populate-ldap-3.14.5.jar"

userManagementServiceWsdl=http://localhost:8080/openwis-securityservice/services/UserManagemen

[2017-10-14 10:20] ussof commented on #275
Hi @dimipapadeas,
I can't find "/home/openwis/openwis/openwis-portal-client/target/classes" anywhere, but i found out that "/home/openwis/PopulateLDAP/lib/openwis-portal-client-3.14.5.jar" is already referenced in the lib directory of PopulateLDAP and it's taken into account by populateLDAP.sh (APP_LIB variable).
I tried extracting this jar file and including its classes in my CLASSPATH but i keep

[2017-10-16 07:34] dimipapadeas commented on #275
The path is where you must have already checkout  the OpenWIS v3, inside the openwis folder there must be an **openwis-portal-client** folder. If you have build it  [according to manual](https://github.com/OpenWIS/openwis/wiki/Getting-Started), there must be `/target/classes/ folders`, whose absolute path you need to point at your classpath.

[2017-10-16 10:43] ussof commented on #275
It seems like i was missing that one, i rebuilt the project and now i have the folder, i relaunched the script with the same values as you did in the example, but unfortunately i keep getting the same errors. I think that a fresh installation might be my only way out of this because i can't figure out what i'm missing.

[2017-10-16 11:06] dimipapadeas commented on #275
Please note that, this installation is a rather complex procedure and even a minor misconfiguration may lead to failure. You must be very careful when executing commands. I would suggest an extensive study of the document before starting the installation.

Any feedback is welcome.

[2017-10-16 11:09] ussof commented on #275
Thank you @dimipapadeas , i will do that.

[2017-10-17 15:26] ussof commented on #275
Hello @dimipapadeas !
I'm droping you this comment just to let you know that i was able to run the script properly without problems. It seems like there was something wrong in my LDAP server configuration because the script worked after i reinstalled opendj & openam.

[2017-10-17 15:26] #275 closed

[2017-10-31 14:11] mgiannoni commented on #274
Pull Request: [https://github.com/OpenWIS/openwis/pull/276](url)

[2017-10-31 14:11] mgiannoni commented on #273
Pull Request [https://github.com/OpenWIS/openwis/pull/276](url)

[2017-10-31 14:12] mgiannoni commented on #272
Pull Request [https://github.com/OpenWIS/openwis/pull/276](url)

[2018-01-09 15:05] zhangz555 opened #278 "OpenAM maven build related issue"
Since ForgeRock closed some of its public repos, we can not build OpenAM 13 from the source after trying. On 1/9/2018 meeting,  George and Dimitris point out that OpenWIS need only a subset of the OpenAM artifacts, not all. They want to share the method to check what artifacts are needed.

[2018-01-09 17:36] zhangz555 commented on #278
So far, below are the artifacts that I find are NOT provided in ForgeRock public repos:

- the artifact "org.forgerock: cddl-license:1.0.0".
- any artifact with the group id "org.forgerock.commons.ui.libs". For example, an artifact named “org.forgerock.commons.ui.libs:jquery.ba-dotimeout:js:min:1.0”.

Hopefully these artifacts are NOT required by the OpenWIS build.

[2018-01-22 08:42] woollattd opened #279 "v3.14.5 - openAM issue - using disk space"
There is a problem with files in the OpenAM system  /home/openam/openam/stats directory?
there do not seem to be any management controls to prevent them from getting too large.
They will eventually use up the available disk space and kill the system.
these files seem to hold info going back to when the system was installed in 2016, and has been reporting every day since.
Why?
And how can we fix th

[2018-02-13 15:04] zhangz555 commented on #278
It appears that now we can build openWIS successfully upon openDJ 3 and openAM 13. Those steps are detailed at the end.

However, this comes with a twist that is related to the cddl-license file. This license file is located at the https://opensource.org/licenses/CDDL-1.0. ForgeRock makes this file as an artifact named org.forgerock:cddl-license:1.0.0, which in essence is a plain text file exactly

[2018-02-26 14:00] rogers492 commented on #278
Hi Michael,

You may recall our earlier concerns about the legality of using the open source version of ForgeRock’s OpenAM/OpenDJ, which you answered for us. The NWS have been building an open source upgrade to that software and have a come up with a question below.

I think all Zhan is talking about is creating an open source license file with each build of the software, in which case I assume th

[2018-02-26 14:00] rogers492 commented on #278
Hi Paul,

I think this should be fine, but I need to have a closer look at the definitions of Covered Software, Modifications and Larger Works in the CDDL. Because of the main body of OpenWIS being on GPL, we need to be quite careful to avoid ‘licence clash’ with overlapping copyleft requirements (because, if not careful, both licences say we have to do something different!) From memory though, th

[2018-02-26 14:04] rogers492 commented on #278
I think this should be OK. You will just need to be careful in the handling of the Forgerock code because any modifications to the code contained in those files must be licensed under the CDDL (so you have to maintain quite a strict separation between Forgerock files and other files).

The CDDL licence applies to “Covered Software”, which means
    (a) the Original Software, or
    (b) Modificatio

[2018-02-26 14:11] rogers492 commented on #278
@zhangz555 @solson-nws Please see the response from Michael. So, we are ok to go ahead and build and distribute by including the ForgeRock CDDL file.

[2018-03-05 16:24] zhangz555 commented on #278
@dimitris

I have compiled the complete linux script that can build openDJ 3 and openAM 13 into the maven repo so that openWIS can be built without erros. Can you assimilate it into your test bed?

#Three setup steps
#first, wipe out everything in the local maven repo, ie, everything in the .m2 folder.

#second, copy cddl license artifact. My cddl maven artifact is located in folder
#$HOME/.m2-bac

[2018-03-07 16:09] zhangz555 commented on #278
I have pushed the maven cddl license artifact, instructions, and script into the github project at https://github.com/OpenWIS/open-dj-am-install-scripts. Our NWS stuff is under the folder "NWS-open-dj-am-install".

[2018-03-23 09:28] teonar commented on #278
When following the link https://github.com/OpenWIS/open-dj-am-install-scripts it returns Not found. Could you please check.

[2018-03-27 08:07] rogers492 commented on #278
Hi @teonar Were you logged-in? It works for me.

[2018-03-27 08:37] teonar commented on #278
Hi @rogers492 Yes currently logged in still and clicking on the link still gives 404 not found

[2018-03-27 13:44] rogers492 commented on #278
Hi @teonar The repo was private but is now public, so please try again.

[2018-03-28 08:15] teonar commented on #278
Thankyou working now

[2018-04-16 11:26] teonar commented on #278
[INFO] OAuth2 Core ........................................ SUCCESS [  4.252 s]
[INFO] OpenAM Core ........................................ FAILURE [  1.782 s]
[ERROR] Failed to execute goal on project openam-core: Could not resolve dependencies for
project org.forgerock.openam:openam-core:jar:13.0.0: Failed to collect dependencies at
org.forgerock.opendj:opendj-server-legacy:jar:3.0.0: Failed to

[2018-04-16 11:36] dimipapadeas commented on #278
Hi @teonar, please follow these instructions [here](https://github.com/OpenWIS/open-dj-am-install-scripts/tree/master/NWS-open-dj-am-install) before OpenWIS v3 build

[2018-04-17 09:00] teonar commented on #278
Thanks that did the trick, openwis compiled.

[2018-04-23 20:19] mgiannoni opened #281 "JDNI View Missing For Branch 3.14.9"
JNDI view not found.   The ERROR and the associated JNDI names from the properties file.

    Could not find view org.openwis.dataservice.util.FilePackerDatabaseAccessor for EJB FilePackerDatabaseAccessor:

    cache.gts.util.databaseAccessor.url=ejb:openwis-dataservice/openwis-dataservice-cache-ejb/FilePackerDatabaseAccessor!org.openwis.dataservice.util.FilePackerDatabaseAccessor

[2018-04-23 20:20] mgiannoni opened #282 "Hibernate HQL No Longer Supports SQL "LIMIT" For Branch 3.14.9"
The new Hibernate 3.x version no longer supports SQL "LIMIT" statement.

    Hibernate Support for SQL 'LIMIT' Removed
    ==========================
    LOG ERROR:

    [SELECT openwis_alarms FROM org.openwis.management.entity.AlarmEvent openwis_alarms WHERE openwis_alarms.date BETWEEN 'Wed Apr 19 18:28:20 UTC 2017' AND 'Thu Apr 19 18:28:20 UTC 2018' ORDER BY openwis_alarms.date DESC LIMIT '20' O

[2018-04-30 20:07] zhangz555 commented on #281
I am working on this.

Below is the more detailed error messages:
2018-04-30 19:57:31,968 ERROR [org.jboss.as.ejb3] (EJB default - 2) JBAS014120: Error invoking timeout for timer: [id=16362a9d-6839-41fe-8abc-e17b85ef2bf9 timedObjectId=openwis-dataservice.openwis-dataservice-cache-ejb.PackedFeedingTimerService auto-timer?:false persistent?:true timerService=org.jboss.as.ejb3.timerservice.TimerServi

[2018-05-07 15:35] zhangz555 commented on #282
When I am fixing the bug, I notice there is another bug that is closely related. Please see the error messages below. I will investigate and fix them altogether.

2018-05-07 14:34:13,939 ERROR [org.hibernate.hql.internal.ast.ErrorCounter] (default task-3) line 1:218: unexpected token: OFFSET: line 1:218: unexpected token: OFFSET
2018-05-07 14:34:14,030 ERROR [org.jboss.as.ejb3.invocation] (default

[2018-05-07 15:38] zhangz555 commented on #281
This one is fixed now. I will send out a pull request after I fix the issue 282.

[2018-05-09 14:43] zhangz555 commented on #282
These bugs have been fixed. I will send a pull request which includes solutions for both this issue and the issue 281.

[2018-05-17 14:51] #272 closed

[2018-05-17 14:54] zhangz555 commented on #274
Those changes reflected our efforts at MDL to modify the JNDI related configurations so that EJBs can work properly.

[2018-05-17 14:54] #274 closed

[2018-05-18 08:35] benjaminsaclier opened #284 "Dissemination harness : add "user name" in <disseminationInfo> element"
I would be very helpful to get the "user name" information in the object "disseminationInfo" passed by the dissemination harness.
At present time this information is missing and in consequence it is difficult to link a diffusion with a Openwis user when we use harness.

[2018-05-21 15:19] mgiannoni opened #285 "OpenWIS HTTPs Portal Logout Failure"
Portal logout fails when OpenWIS is deployed using an HTTPs proxy.   The HTTPs proxy is implemented according to the OpenWIS-3.14 deployment guide section 7.5.7.   The portal login process is successful, only the Logout process fails.

The logout process fails on two accounts:
  1. The browser cookie and SAML token are not purged.
  2. Security Service retains the session as "logged in".

![openwi

[2018-05-24 15:19] benjaminsaclier opened #286 "Improvement for deleting metadata"
There is no optimization for removing metadata during harvesting.
Solr re-indexation is running after each suppression (for example if 2000 metadata are removed, the Solr reindexation will run 2000 times).
An optimization of running reindexation only at the end of all metadata suppression would speed up the OAI-PMH action and RAM/CPU usage.

[2018-05-25 10:56] dimipapadeas opened #287 "Vagrant deployment of v.3.14.9"

[2018-05-28 08:05] 6a6d74 commented on #279
Behaviour not observed by KMA who are running 3.14.8 ...

@benjaminsaclier suggests this may be a configuration issue

[2018-05-28 08:15] 6a6d74 commented on #271
Note: this is a request to improve the user interface to allow deletion of multiple metadata records (or an entire group) ...

See #286 also ... as soon as you try to delete multiple records, the speed will become an issue

[2018-05-28 09:03] 6a6d74 commented on #262
New Zealand DCPC provides a SRU search page that allows users to find records in the WIS Catalogue [http://www.metservice.com/maps-radar/wis-search/search)](http://www.metservice.com/maps-radar/wis-search/search) ... Dave Thomas identifies this as "the way it should be done".

OpenWIS doesn't appear to include the location of the resource in its SRU response ...

Compare requests between GISC Offe

[2018-05-28 09:13] 6a6d74 commented on #262
@benjaminsaclier asks whether the SRU response is part of the GeoNetwork code base or OpenWIS Core?

[2018-05-28 09:21] 6a6d74 commented on #195
@SungsooDO - contact TT-GISC (Ken Tsunoda) to ask about getting the 3000+ metadata records in the WIS-UNASSOCIATED category properly assigned to the appropriate GISC.

[2018-05-31 13:02] benjaminsaclier commented on #242
Bug has been corrected in version 3.14 (push by MF)

[2018-05-31 13:02] #242 closed

[2018-05-31 13:45] benjaminsaclier commented on #279
Hi Dom,

We observe the same behaviour on our stat files (but log since 2012 !!!)

The way of clearing these files is available here : https://backstage.forgerock.com/knowledge/kb/article/a56408795

It seems possible to stop logging the stats : https://backstage.forgerock.com/knowledge/kb/article/a54187838

We should check if these actions are ok and in that case update OpenWIS administration docu

[2018-05-31 13:51] benjaminsaclier commented on #264
Hi Dom,

Can you please provide us the error which is log in metadata.log file when you try to harvest these metadata ?
Also can you attach your "openwis-metadataportal.properties" configuration file

Thanks,

Ben

[2018-06-04 08:59] woollattd commented on #264
Hi

Hope all went well last week. Just catching up now I’m back in the office.

We are having big problem with our production system at the moment. I am waiting for it to be rebuilt, seems to be taking longer than expected.
Once that is done we can take a look at this issue.

I am also still waiting for 3.14.9 to be installed on test so I can check that out too. But I have been waiting over a year

[2018-06-04 09:06] woollattd commented on #279
Hi

Thanks. I’ll hopefully be able to test this out once I get my prod system back.

Cheers

Dom
Dominic Woollatt  |  MSS Maintenance & Support
Met Office ®  E2-091 Fitzroy Road Exeter EX1 3PB United Kingdom
Tel: +44 (0)1392 886059
Web: http://www.metoffice.gov.uk<blocked::http://www.metoffice.gov.uk/>

From: benjaminsaclier <notifications@github.com>
Sent: 31 May 2018 14:46
To: OpenWIS/openwis <o

[2018-06-04 11:48] benjaminsaclier opened #288 ""Undeleted" metadata list as "deleted" on OAI-PMH ListIdentifier"
Reference to close issues : #123 and #124

Openwis OAIPMH mismatch behaviour when a metadata has been deleted and re-created.
The metadata uuid is still present in deletedmetadata table (and in metadata). The result is  OAI-PMH ListIdentifier response will list that record as "deleted" instead of "active".

I suggest that when a metadata is created in a set, to check if the uuid exists in the dele

[2018-06-07 09:33] dimipapadeas commented on #287
Vagrant deployment status:

- [x] Vagrant shell scripts have been updated to support Java 8 and Wildfly 8.2
- [x] Portals have been deployed successfully via Vagrant.
- [x] Database has been deployed successfully via Vagrant.
- [x] Database deployment verification
- [x] Solr has been deployed successfully via Vagrant.
- [x] StagingPost has been deployed successfully via Vagrant.
Services:
- [x] Ma

[2018-06-07 09:39] dimipapadeas commented on #287
#### Dataservice deployment status:

Although we have fixed a significant number of errors and misconfiguration issues, the deployment error still exists.

We also tried to deploy it to a standalone environment (to ensure there is no Vagrant related issue), but we encountered the same issue.

We are still working on this.
We are have already contact @zhangz555 and waiting for any feedback.

As a r

[2018-06-07 11:30] woollattd commented on #287
Quick question...
where is the Security Service deployment (openAM/OpenDJ)?
is it included in a deployment of something else?

[2018-06-07 11:48] dimipapadeas commented on #287
@woollattd openAM/OpenDJ infrastructure does not take part in Vagrant setup (development like environments). Only standalone (production like) deployments are using it.

[2018-06-07 12:09] woollattd commented on #287
ahh ok

No worries though, I'll wait until I can check it out on our Test System.

[2018-06-11 15:51] jude2018 commented on #239
@tg4444 .  A query from the PMC meeting in Helsinkini - Has this been resolved in v3.14?

[2018-06-11 15:53] jude2018 commented on #238
Per PMC in Helsinki - Météo France to test with KMA or BoM @benjaminsaclier

[2018-06-11 15:56] jude2018 commented on #279
Per PMC in Helsinki - UKMO to confirm experiences and confirm the configuration @woollattd

[2018-06-11 16:03] jude2018 commented on #200
Per PMC in Helsinki - Has this been resolved in v3.14 ? @tg4444

[2018-06-12 08:03] woollattd commented on #239
I'm not aware that 'Point 2' has been addressed.

[2018-06-12 08:06] woollattd commented on #200
I doubt it. As there is no update since Leons last comment in 21 Feb 2017.

[2018-06-12 08:08] woollattd commented on #279
whilst i'm waiting (still waiting) for my systems to be available, could Benjamin add comment on the version istalled at MF?

[2018-06-12 13:37] mgiannoni commented on #285
We have not consistently reproduced the error in the screen-shot, however the browser state remaining logged in is consistent.   Further examination is needed.

[2018-06-12 13:57] jude2018 commented on #284
Issue only experienced In MF and MFI

[2018-06-12 13:58] jude2018 commented on #236
Steve Olsen to feedback on whether this can be pickeds up by NWS @solson-nws

[2018-06-12 14:00] jude2018 commented on #209
Review on scrum on 14 June 2018

[2018-06-12 14:34] mgiannoni commented on #287
Email sent to Dimitris containing our configuration files and the scripts we're using to implement the deployment.

[2018-06-13 07:44] tg4444 commented on #239
@jude2018, No relevant pull requests have been merged since the time @lmika-bom's fix was merged.
As a result, 'Point 2' has not been addressed.

[2018-06-13 09:02] tg4444 commented on #200
@jude2018, this is not fixed in either the `develop` or the `release/openwis-3.14.8` branches.

[2018-06-13 10:09] woollattd commented on #151
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:09] woollattd commented on #152
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:10] woollattd commented on #156
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:11] woollattd commented on #157
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:11] woollattd commented on #158
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:12] woollattd commented on #159
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:12] woollattd commented on #160
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:12] woollattd commented on #161
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:13] woollattd commented on #162
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:13] woollattd commented on #165
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:13] woollattd commented on #166
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:15] woollattd commented on #119
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:15] woollattd commented on #118
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:16] woollattd commented on #105
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:17] woollattd commented on #93
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:17] woollattd commented on #89
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:18] woollattd commented on #90
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:19] woollattd commented on #88
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:20] woollattd commented on #85
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:21] woollattd commented on #84
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:21] woollattd commented on #77
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:23] woollattd commented on #197
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:23] woollattd commented on #198
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:30] woollattd commented on #32
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:33] woollattd commented on #74
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:33] woollattd commented on #73
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:34] woollattd commented on #69
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:34] woollattd commented on #68
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:37] woollattd commented on #124
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:38] woollattd commented on #122
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:44] woollattd commented on #72
https://github.com/OpenWIS/openwis4/issues/62

[2018-06-13 10:45] woollattd commented on #244
https://github.com/OpenWIS/openwis4/issues/62

[2018-06-13 10:46] woollattd commented on #244
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:48] woollattd commented on #243
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-13 10:56] woollattd commented on #166
still need to see if this works in 3.14.9

[2018-06-14 12:18] woollattd commented on #123
reopened since OpenWIS v3.x is in maintenance mode for next 6 years so this still applies

[2018-06-18 15:35] tg4444 commented on #287
We have good news concerning this issue.
It appears that there is an unresolved issue that affects WildFly 8.2, which was only resolved in WildFly 10:
- https://issues.jboss.org/browse/WFLY-3355

It was not reproducible in Mark and Zhan's deployments because the script they used stopped and restarted the service at some point during the process, and this served as a work-around.

As a result, we a

[2018-06-19 08:27] woollattd commented on #287
Mark mentioned an issue in the scrum last week about the Stanging Post WildFly corrupting the container. Is this still an issue?

[2018-06-19 13:55] benjaminsaclier commented on #44
@SungsooDO ,hello Sungsoo, can you please check if this problem still occurs in OpenWIS 3.14.7 ?
and feedback in this issue

Thanks,

Benjamin

[2018-06-22 13:59] dimipapadeas commented on #287
[Pull request 289](https://github.com/OpenWIS/openwis/pull/289) submitted.

Staging post deployment and verification pending.

[2018-06-29 13:15] jude2018 commented on #287
Development completed. Testing to be agreed at TC

[2018-07-02 12:45] teonar opened #291 "Java exception on request/subscribe click"
Openwis 3.14.5
Steps:
Do geographical search
Choose one of the results that shows up
Click on the Subscribe/Request button

An error occurred. Please contact your service desk.

And in the log files
ERROR [jeeves.service] - Raised exception while executing service
java.lang.NullPointerException at org.openwis.metadataportal.services.request.GetAllSubSelectionParameters.exec(GetAllSubSelectionParam

[2018-07-06 08:56] SungsooDO commented on #195
I asked GISC Tokyo about WIS-UNASSOCIATED and please see below, reply from Tokyo
As of now 4 GISC(Pretoria, Casablanca, Washington, New Delhi) is not providing OAI server.
In case of GISC Seoul, it's not harvesting WIS-UNASSOCIATED from Tokyo.
========================================================
Dear Sungsoo,

 Thank you for asking Ken about OAI-SET in GISC Tokyo.
 My name is Shuichi Ikeda, I'

[2018-07-06 09:41] woollattd opened #292 "Unable to harvest or Synchronise metadata with GISC Tokyo"
Since the https update to the Portal/oaipmh URL for GISC Tokyo (1st March 2018), OpenWIS at GISC Exeter has been unable to connect to them for the Synchronisation or Harvesting of metadata.
This issue has also been confirmed to be happening at GISC Toulouse and GISC Washington by Benjamin and Steve.
Is this an issue with OpenWIS or with GISC Tokyo?

The fetch function on the harvest or synchronise

[2018-07-06 09:44] woollattd commented on #195
due to #292 I am currently unable to check whether the original issue occurs. I suspect it might. Have Tokyo been asked about that and/or have we checked OpenWIS code yet to determine where the issue sits?

[2018-07-06 09:52] 6a6d74 commented on #195
@SungsooDO - thank you for checking this.

I find it interesting that 4 GISCs are not offering an OAI server; more so given that Washington, New Delhi and Casablanca all use OpenWIS (not sure about Pretoria) so it should be a matter of configuration to expose this service.

I think the best course of action is to raise this issue with TT-GISC.

As I am not a member of TT-GISC, are you able to do t

[2018-07-06 13:08] woollattd commented on #292
it seems that GISC Casablanca was having some issues harvesting GISCs Tokyo through OAIPMH.
Their Harvesting now works with GISC Tokyo after updating their scripts to manage https communications

is there something we need to do in OpenWIS?

[2018-07-06 13:42] mgiannoni commented on #292
Dom:

Yes, we encountered this when UK-Met went HTTPs.   The harvester does not
support HTTPs, I believe there should be an issue already opened for this -
but I will have to search for that.  What we did was implement a simple
python HTTPs proxy script and set the OAI-MPH harvester (for UK-Met) to
connect to the python proxy.

Marc Giannoni
Unix System Engineer, AceInfo Solutions
Phone: 301.427.9

[2018-07-06 14:20] woollattd commented on #264
I am no longer able to extract the logs myself any more but will try and get someone to do so.

in the meantime here is an extract from teh log for one entry which shows the same thing happening
it is now the same for 30 records
it appears there is no GTS Category athus making it invalid.

2018-07-06 13:32:59,775 INFO  [openwis.metadataaligner] - Creating local metadata for identifier: urn:x-wmo:m

[2018-07-06 14:42] woollattd commented on #292
Yup found it it is #239

[2018-07-09 09:00] benjaminsaclier opened #293 "OAIPMH request: verb ListIdentifiers is not possible without set specification"
If you request a OAI-PMH Openwis server without specify a **set**, nothing is return by the server.
Example:
http://wispi.meteo.fr/openwis-user-portal/srv/oaipmh?verb=ListIdentifiers&metadataPrefix=oai_dc

According to the OAI-PMH (https://www.openarchives.org/OAI/openarchivesprotocol.html#ListIdentifiers) the set parameter is optional.
If no set is specify the server should return the full list o

[2018-07-09 09:06] benjaminsaclier opened #294 "OAI-PMH: Time format and resumptionToken"
Date format of expirationDate in resumptionToken, is not compliant with OAIPMH standard.
Example from a OAI-PMH ListIdentifiers request:

http://wispi.meteo.fr/openwis-user-portal/srv/oaipmh?verb=ListIdentifiers&resumptionToken=WIS-GISC-OFFENBACH/-/oai_dc/-//-//-/10qnnxbp4395b/-/100

resumptionToken element from this answer :
<resumptionToken expirationDate="**2018-07-06T10:18:04**">WIS-GISC-OFFEN

[2018-07-09 09:14] woollattd commented on #294
Do you know if this an issue with Geonetwork function? or it's configuration?

[2018-07-09 09:15] woollattd commented on #293
I assume this is a Geonetwork problem?

[2018-07-09 09:21] benjaminsaclier commented on #294
It's not a configuration, it's source code. Don't know if Geonetwork or Openwis but it something very quick to correct for a developer.

[2018-07-09 09:22] benjaminsaclier commented on #293
Don't know, should be check

[2018-07-09 14:45] woollattd commented on #291
sorry no idea. But it seems ok on our system (3.14.5)- not much help I know, but maybe indicates an installation/configuration problem? or maybe a metadata related issue?
The SubSelectionParameters is the first tab that is displayed when the window pops up once the Request or Subscribe buttons are clicked.
Does this happen for all metadata? I chose "IURD13 BUFR bulletin available from EUMG (EUMETS

[2018-07-10 07:28] teonar commented on #291
Pretty sure it is a install/config issue but I am lost as to where to begin seaching, I will download the "IURD13 BUFR bulletin metadata and feed it to the system just to see if the metadata isnt the problem.

[2018-07-13 03:41] SungsooDO commented on #44
@benjaminsaclier , Benjamin, GISC Seoul is running OpenWIS 3.14.8.  and couldn't find the bug for browse cache.
![shot1](https://user-images.githubusercontent.com/6478490/42671207-f12d8fc4-8699-11e8-850d-89de84d84901.png)
![shot2](https://user-images.githubusercontent.com/6478490/42671216-f626293c-8699-11e8-8e09-ca7b0ed79189.png)

[2018-07-25 08:57] JeyoungRyu commented on #209
As a result of testing in GISC Seoul (v3.14.8), if the user click the "Save" button after modifying the user's profile, it will be change immediately.

[2018-07-25 09:03] JeyoungRyu commented on #238
As a result of testing in GISC Seoul (v3.14.8), it takes roughly 15 - 20 seconds to get a metadata XML.
e.g.   http://gisc.kma.go.kr/openwis-user-portal/srv/en/iso19139.xml?id=1363194

[2018-07-30 02:11] JeyoungRyu opened #295 "Disable SSL certificate verification in python (wismon)"
When generating the “centres.json” file using wismon, if the urls of the target GISC (portal, oaipmh, sru) use https, there are the error that "SSL certificate verify fail" occurs and the response are not received.
KMA confirmed the log of the network response time with GISC Tokyo as "-1", and found the log as the attached image.

![jma](https://user-images.githubusercontent.com/24219454/43374240-

[2018-07-30 02:12] SungsooDO commented on #295
Thank you for your email. I will be out of the office until Wednesday 1st August, so I'll respond to your message as soon as possible when I return. 

             #signDiv {background-color: #ffffff;}            #signDiv BODY{ background-color: #ffffff;}            #signDiv BODY, #signDiv TD, #signDiv TH { color: black; font-family: 굴림; font-size: 12px; }            #signDiv TD { border: 0px}

[2018-08-30 16:01] zhangz555 commented on #285
I give it a try on the admin portal and solve the issue. Now the behavior is desirable: each time after a user logout and then re-login, he is redirected to openam for username/password; there is no more automatic re-login.

The approach I take is clearing off the residing session info on the client side after a user logout. The key lies in a package named "org.openwis.metadataportal.services.logi

[2018-09-05 14:40] benjaminsaclier opened #296 "OAI-PMH: GetRecord on deleted metadata"
If you do a GetRecord on a deleted metadata the Openwis server OAI-PMH return :

<error code="idDoesNotExist">urn:x-wmo:md:fr.meteo::HRUK85LFPW</error></OAI-PMH>

rather than have the header status tag as deleted :
_<GetRecord><record><**header status="deleted"**>
<identifier>urn:x-wmo:md:fr.meteo::HRUK85LFPW</identifier><datestamp>2017-10-23T13:22:24Z</datestamp>
<setSpec>WIS-GISC-TOULOUSE</setSp

[2018-09-17 08:20] benjaminsaclier opened #297 "Adding licence aggreementon user portal registration"
It would be useful to have the possibility to force a user to accept a licence during registration.
We (Meteo-France) propose to implement this functionality which will be optional ( an administration parameter will allow to display or not the licence in the registration portal).

![screenshot-maccp-raq-int meteo fr-2018 09 17-10-18-48](https://user-images.githubusercontent.com/12250260/45612378-1

[2018-09-17 17:39] zhangz555 commented on #285
I tested this on the user portal. It appears that the behaviour on the user portal is desirably the same as it is on the admin portal now: each time after a user logout and then re-login, he is redirected to openam for username/password; there is no more automatic re-login.

I will create a pull request for this change.

[2018-09-17 19:35] zhangz555 commented on #285
The pull request is created. See here https://github.com/OpenWIS/openwis/pull/298

[2018-10-19 09:42] woollattd opened #299 "Remote code execution exploit in Solr and Lucene"
seems we have some issues with

[org.apache.lucene:lucene-core](https://github.com/OpenWIS/openwis/network/alert/openwis-metadataportal/pom.xml/org.apache.lucene:lucene-core/open)
and
[org.apache.solr:solr-core](https://github.com/OpenWIS/openwis/network/alert/openwis-metadataportal/openwis-portal-solr/pom.xml/org.apache.solr:solr-core/open)

the resolution is to uplift/patch Apache Solr and Apach

[2018-12-18 18:27] zhangz555 opened #300 "Security vulnerabilities detected and reported from cmteam-metoffice’s repository"
Dependency org.apache.solr:solr-core Version < 7.1.0

vulnerabilities:
CVE-2017-12629 High severity
CVE-2017-3163 Moderate severity
CVE-2018-1308 Moderate severity

Suggestions:
Upgrade to ~> 7.1.0

[2018-12-18 18:34] zhangz555 commented on #300
The openwis solr security vulnerability is attributed to an openwis project named "openwis-portal-solr".
If we check its maven config file, we find the following lines:

<dependency>          
<groupId>org.apache.solr</groupId>
<artifactId>solr-core</artifactId>
<version>${solr.version}</version>
<type>jar</type>
<scope>compile</scope>
<exclusions>
<exclusion>
<groupId>woodstox</groupId>
<artifact

[2018-12-18 18:39] zhangz555 commented on #300
They will be further testing with data via using the newly built user and admin portals. Furthermore, a pull request will be generated for this issue.

[2019-02-27 14:56] #285 closed

[2019-03-07 07:52] winsys-ongyiren opened #301 "Outdated Deployment Instructions"
Hi ,

May I know if there would be any update on deployment instruction as they are pretty outdated.
Please remove the post if question is inappropriate. Thanks

[2019-05-20 19:03] solson-nws commented on #300
@zhangz555 : Create pull request and close issue

[2019-06-12 14:45] zhangz555 opened #302 "Deploy OpenWIS 3.14.9 on Wildfly15 + Java 8 + CentOS 7"
We are deploying OpenWIS 3.14.9 on Wildfly15 + Java 8 + CentOS 7. We will report our progress under this issue.

[2019-06-12 14:48] zhangz555 commented on #302
We find that in the data-service ear build, in its effective pom, the maven-compiler-plugin's version is significantly outdated. We bring it up to the newer one.

[2019-06-12 14:53] zhangz555 commented on #302
When I deploy the manage-service ear and data -service ear into wildfly 15, both complain issues related to module org.apache.commons.configuration, and neither can be deployed. I correct this issue fro the two ears. Now manage-service ear can be deployed successfully. However, data-service ear deployment generates new type of errors.

[2019-06-12 14:56] zhangz555 commented on #302
I continue to proceed.  With the deployment of the data-service ear, the newly generated errors are related to HQL issue. See below
"{

    \"WFLYCTL0080: Failed services\" => {\"jboss.persistenceunit.\\\"openwis-dataservice.ear/openwis-dataservice-server-ejb.jar#openwis-dataservice-common-domain\\\"\" => \"javax.persistence.PersistenceException: [PersistenceUnit: openwis-dataservice-common-domain

[2019-06-12 15:03] zhangz555 commented on #302
I solve the hql errors by changing relevant java codes that contain those named hql queries. Now the hql errors are gone in the data-service ear deployment.

When we continue to proceed, new types of errors are generated. These errors are related to JMS queue. See below. We will find a solution to get rid of these errors.
"{

    \"WFLYCTL0412: Required services that are not installed:\" => [

[2019-06-17 14:30] zhangz555 commented on #302
I suspect this issue is related to jndi naming context. I pick up the RequestQueue, and trying to find the naming context declared in the openwis source code. I modified the wildfly config accordingly. Now the deployment problem becomes as below. We can clearly see that the RequestQueue related issue disappears.

"{
    \"WFLYCTL0080: Failed services\" => {\"jboss.persistenceunit.\\\"openwis-datas

[2019-06-17 15:45] zhangz555 commented on #302
I adopt the approach above. Now all the JMS queue related issues disappear.

Going further, we encounter the following deployment errors:
"{\"WFLYCTL0080: Failed services\" => {\"jboss.deployment.subunit.\\\"openwis-dataservice.ear\\\".\\\"openwis-dataservice-cache-webapp-3.14.8-SNAPSHOT.war\\\".undertow-deployment\" => \"javax.ejb.NoSuchEJBException: EJBCLIENT000079: Unable to discover destinatio

[2019-07-09 12:30] zhangz555 commented on #302
The issue related to org.openwis.management.service.ConfigService view is solved.

Going further, we encounter errors related to org.apache.commons.configuration.ConfigurationException class not found issue. See below:

"{\"WFLYCTL0080: Failed services\" => {\"jboss.deployment.subunit.\\\"openwis-dataservice.ear\\\".\\\"openwis-dataservice-cache-webapp-3.14.8-SNAPSHOT.war\\\".undertow-deployment\"

[2019-07-09 12:33] zhangz555 commented on #302
Errors related to org.apache.commons.configuration.ConfigurationException class not found issue are solved.

Going further, we encounter org/apache/commons/lang/text/StrLookup Class Not Found issue. See below:

"{\"WFLYCTL0080: Failed services\" => {\"jboss.deployment.subunit.\\\"openwis-dataservice.ear\\\".\\\"openwis-dataservice-cache-webapp-3.14.8-SNAPSHOT.war\\\".undertow-deployment\" => \"jav

[2019-07-09 12:35] zhangz555 commented on #302
org/apache/commons/lang/text/StrLookup Class Not Found issue is now solved.

Now we can successfully deploy management service and data service. In addition, all the portals are built and deployed successfully.

[2019-07-09 12:40] zhangz555 commented on #302
We have successfully deploy OpenWIS 3.14.9 on Wildfly15 + Java 8 + CentOS 7. I archive in details all the steps we took in the document attached below.
[Testing on wildfly15 + CentOS 7.pdf](https://github.com/OpenWIS/openwis/files/3372964/Testing.on.wildfly15.%2B.CentOS.7.pdf)

[2019-07-09 12:45] zhangz555 commented on #302
I will generate a pull request which contains our solution to this issue.

[2019-07-10 13:49] zhangz555 commented on #302
pull request is sent.

[2019-07-25 20:34] zhangz555 opened #304 "New user creation errors on OpenWIS admin portal and issues related to BlacklistInfo; and staging post download related issue"
we encounter new user creation errors when using admin portal. More specifically, we are not able to add a new user without an error from the Blacklist module, and the Blacklist Info table remains empty in the database. We are migrating OpenWIS 3.14.9 from wildfly8 + centos6 to wildfly 15 + centos 7. We find that OpenWIS 3.14.9 on wildfly8 + centos6 appears to also have the same problem. So there

[2019-08-01 16:20] zhangz555 commented on #304
Any issues we find is that User Portal does not reflect the availability of the data.   Normally these are listed in the "What's New" box, and you can select these directly from "What's New" and proceed to download fromt the Staging Post.   Alternatively, a search for "-Any-" can also bring up a list for download.    This part is not working and we have the following Error form the Tomcat User Por

[2019-08-01 16:23] zhangz555 commented on #304
We have fixed all these issues stated above. We will create a pull request.

[2019-08-23 15:14] zhangz555 commented on #302
The document can be viewed here, which contains error messages related to issues we solved one-by-one.
[OpenWIS Deployment Testing on wildfly15 + CentOS 7.pdf](https://github.com/OpenWIS/openwis/files/3535101/OpenWIS.Deployment.Testing.on.wildfly15.%2B.CentOS.7.pdf)

[2019-08-23 20:17] zhangz555 commented on #304
a pull request is created for this issue. Github automatically combine this newly created pull request into the already existent pull request #303.

[2020-03-31 15:21] benjaminsaclier opened #322 "Write functional requirements for authentication and authorization (Keycloak)"
Write the requirements to replace OpenAM/OpenDJ by another identity server.

[2020-04-04 15:57] solson-nws commented on #322
@benjaminsaclier  @yvesgoupil  @mgiannoni  @zhangz555 :  Let me get this started

**Goals:**

- To maintain open-source nature associated with the security service.  With Forgerock closign repo, we need to eliminate the need for reliance on community version of OpenAM/OpenDJ

- Make the security service installation more user friendly and easier.  Current process is cumbersome

- Continue to suppo

[2020-04-07 13:12] benjaminsaclier opened #323 "Write the project charter for v4.0 (Keycloack)"
Goals:

    To maintain open-source nature associated with the security service. With Forgerock closign repo, we need to eliminate the need for reliance on community version of OpenAM/OpenDJ

    Make the security service installation more user friendly and easier. Current process is cumbersome

    Continue to support SAML

Objectives:

    Consider alternatives to the OpenAM/OpenDJ security serv

[2020-04-07 13:32] benjaminsaclier commented on #323
Goals:

To maintain open-source nature associated with the security service. With Forgerock closing repo, we need to eliminate the need for reliance on community version of OpenAM/OpenDJ

Make the security service installation more user friendly and easier. Current process is cumbersome

Continue to support SAML

Objectives:

Consider alternatives to the OpenAM/OpenDJ security service solution to

[2020-04-30 13:05] yvesgoupil opened #324 "3.14.9 compiling failure"
The 3.14.9 Openwis version does not compile anymore on Travis and locally on my CentOS7 VM since the beginning of april.
There are missing geotools and opengis depencies for openwis-portal-solr.

See error on Travis Build #137 : https://github.com/OpenWIS/openwis/wiki

The error locally is :
` Failed to execute goal on project openwis-portal-solr: Could not resolve dependencies for project io.open

[2020-04-30 15:18] zhangz555 commented on #324
Yes，I have done some investigation here, and find that the repo serving all these artifacts are not available anymore. I will share details. —Zhan

[2020-04-30 15:25] zhangz555 commented on #324
The real remote repo that holds the artifacts is NOT the one stated in the
compile error message.

See the attachment and highlighted texts therein. That is the complained
dependency in the build. The repo is called "OSGeo Old", which url is
https://download.osgeo.org/webdav/geotools/. Point to there, you will get
404, which means that this remote repo is NOT available anymore. --Zhan
[image: imag

[2020-05-04 20:39] zhangz555 commented on #324
I just did some experiments to see how many artifacts we probably have lost due to repo closure. Since I know that org.opengis:geoapi-pending does not have version 2.3-M1, but it still has version 3.1-M01, so I changed its version to 3.1-M01. This is what I get when doing a build

[ERROR] Failed to execute goal on project openwis-portal-solr: Could not resolve dependencies for project io.openwis.m

[2020-05-04 20:51] zhangz555 commented on #324
We need to find a solution to solve this issue. The ultimate goal should be replacing opengis/geotools with more recent versions.

In the mean time, we can have a plan of using cached artifacts in the local repository in the MDL server to serve the OpenWIS community. To accomplish this, we need to upload the cached artifacts to the OpenWIS codebase in github; setup a mechanism to let the build pro

[2020-05-05 14:16] zhangz555 commented on #324
I will investigate detailed steps of importing artifacts one-by-one into OpenWIS in travis CI build and write them out and share here.

[2020-05-13 12:32] yvesgoupil opened #325 "WildFly management-service ERRORS in server.log"
10 errors occur systematically at management-service deployment and during Wildfly start.
These errors do not block the data-service and management-service operations.

`2020-05-13 14:16:54,810 ERROR [org.hibernate.tuple.entity.PojoEntityTuplizer] (ServerService Thread Pool -- 89) HHH000112: Getters of lazy classes cannot be final: org.openwis.management.entity.AlarmEvent.date
2020-05-13 14:16:54,

[2020-05-13 12:47] yvesgoupil opened #326 "openwis-dataservice.properties file update required"
EJB JNDI names:
 'ejb:' should be replaced by 'java:global/' in the properties file
`~/openwis/openwis-dataservice/openwis-dataservice-config/src/main/config/openwis-dataservice.properties"`

[2020-05-13 21:51] zhangz555 commented on #324
When validate the availability of other missing artifacts, I find that there are updates on mvnrepository.com website. I tracked the repo url and update some code in OpenWIS. Now OpenWIS can be successfully built without errors.

[2020-05-13 21:57] zhangz555 commented on #324
I plan to generate a pull request against master branch. I believe this will fix the failure of travis CI build. OpenWIS administrator, can you let me know whether master branch is the one that this fix should be pushed to?

[2020-05-28 12:57] yvesgoupil commented on #324
I just made a compilation from scratch (without any pre-existing m2 repository) of your last openwis-3.14.10 version. The compilation works perfectly. Thank you, Zhan, for this upgrade action!

[2020-05-28 13:18] solson-nws commented on #324
Yves:

Thanks for confirming!  Appreciate the feedback!

Steve

On Thu, May 28, 2020 at 8:57 AM yvesgoupil <notifications@github.com> wrote:

[2020-06-23 21:54] zhangz555 opened #334 "Travis CI build failure on Merging pull request #328 from OpenWIS/openwis-3.14.10"
Travis CI build failure on Merging pull request #328 from OpenWIS/openwis-3.14.10.
Please see https://travis-ci.org/github/OpenWIS/openwis

[2020-06-23 21:57] zhangz555 commented on #334
The build log reveals that the failure occurs at the deployment related script.
![image](https://user-images.githubusercontent.com/9867607/85468887-02c08e00-b57b-11ea-9ce4-995c077f5faf.png)

[2020-07-07 21:56] zhangz555 commented on #334
A new branch travis-build-issue is created. New fix is added. Travis build is successful. See here https://travis-ci.org/github/OpenWIS/openwis/builds, #160

[2020-07-07 22:00] zhangz555 commented on #334
A new pull request is created.https://github.com/OpenWIS/openwis/pull/338

[2020-11-03 15:16] zhangz555 opened #342 "Investigation on an OpenWIS Security Component Alternative: the Approach of Utilizing Keycloak Valve Infrastructure and Keycloak Java API Library"
Our investigation of Keycloak focuses on critical security features that already exists in OpenWIS. Our goal is to implement those features by utilizing Keycloak provisions. We pay special attention to these areas: SAML authentication, sign-in/sign-off workflow, SSO, management of users, groups, and data policies.

[2020-11-03 15:16] zhangz555 commented on #342
Example web applications that utilize Keycloak Valve Infrastructure and Keycloak Java API library are written. These example apps demonstrate critical features existing inside the current OpenWIS security components such as portals, and OpenAM/DJ. The entire effort is to prove that Keycloak domain can provide a viable alternative to the current OpenWIS security component.

[2020-11-03 15:17] zhangz555 commented on #342
A combination of Keycloak valve infrastructure, Keycloak Java APIs, and Keycloak Restful APIs are utilized in the design. This should be similar to the integration approach adopted in OpenWIS portals. The design similarity should enhance the viability of this Keycloak approach in the aspect of security component integration into the OpenWIS system.

An IdP managed data model is adopted. This can b

[2020-11-03 15:19] zhangz555 commented on #342
Investigation At a Glance:
- SAML authentication
- Workflow of sign in, doing something, then sign off
- User’s rolls listing
- User Attributes query
- User creation
- Group creation
- Get rid of roles in web.xml, allowing complete-code-controlled, role-based, dynamic content access
- Data policy
- Single Sign-on (SSO), and issues in single log-off

[2020-11-03 15:20] zhangz555 commented on #342
Conclusion:
- Thorough investigation on Keycloak valve infrastructure and Keycloak Java API library is performed. The investigation focuses on critical security features that exists in OpenWIS.
- Example web applications that utilize Keycloak provisions are written, so as to demonstrate critical features existing inside the current OpenWIS portals.
- In the example web applications, design model,

[2020-11-03 15:21] zhangz555 commented on #342
Advantages of Keycloak over OpenAM/DJ

Managed under Redhat as an open source product, Keycloak should generally provide better services over Forgerock’s OpenAM/DJ in the following areas:
- Openness and maintenance of open source code repositories. We had encountered partial closure of ForgeRock community repositories.
- Patchability of API library code in case of middleware upgrades.
- Technical

[2020-11-03 15:25] zhangz555 commented on #342
[To SC Keycloak Valve + API Approach final version.pdf](https://github.com/OpenWIS/openwis/files/5482237/To.SC.Keycloak.Valve.%2B.API.Approach.final.version.pdf)

[2020-11-03 15:26] zhangz555 commented on #342
Comments are highly welcome!

[2020-11-04 16:05] yvesgoupil opened #343 "Adding the jsp file "spGetToken.jsp" to OpenWIS 3.14.10 release"
The jsp file "spGetToken.jsp" is not included in OpenAM-13.0.0.war. This file must be available in OpenWIS 3.14.10 release. We have to decide where this file could be added. In openwis-dependencies.zip?

[2020-11-04 16:49] mgiannoni commented on #343
Attached!

Marc Giannoni
Unix System Engineer, AceInfo Solutions
Phone: 301.427.9478
Cell: 301.915.5266

On Wed, Nov 4, 2020 at 11:06 AM yvesgoupil <notifications@github.com> wrote:

[2020-11-19 20:25] zhangz555 commented on #342
As I have told in the collaboration meeting, just a reminder that due to my tight time schedule, there are two functions that are not implemented yet, but I am sure that they can be done by utilizing the techniques we have already used in the design of the example web applications. Those two functions are: (1) when adding a user, associate him with a group; (2) add attributes to a group when creat

[2021-01-06 15:32] yvesgoupil opened #348 "Openwis v3.14.10 login error: Missing com.sun.identity.security.cert.CRLValidator in user and admin portal tomcat lib directory"
**Temporary workaround :**

For both user and admin portals :

`cp openam-shared-12.0.0.jar ~/apache-tomcat-9.0.24/webapps/openwis-user-portal/WEB-INF/lib/ `

(and do not remove openam-shared-13.0.0.jar !)

Stop/start openwis user or admin portal

Login test: login is ok and there is no error in catalina.out log anymore :

...
24-Sep-2020 15:28:38.972 INFOS [http-nio-8080-exec-8] com.sun.identity.

[2021-03-03 01:18] maurixiou opened #351 "problems with openwis 3.14.15-SNAPSHOT"
Hi
What could be the problem?

INFO] --------------------------------[ jar ]---------------------------------
[WARNING] The POM for com.sun.javaee:javaee:jar:5.0 is missing, no dependency information available
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary for OpenWIS 3.14.15-SNAPSHOT:
[INFO]
[INFO] OpenWIS ...................................

[2021-03-03 11:20] yvesgoupil opened #352 "Openwis v3.14.10 and v3.15 - removing useless log INFO in Dataservice server.log"
To avoid having these useless INFO lines in Wildfly  server.log:

     2021-03-03 09:33:09,027 INFO  [org.openwis.dataservice.common.util.ConfigServiceFacade] (EJB default - 1) Using ConfigServiceFacade to look up 'cache.dir.harness.outgoing'.  The value was '/data/openwis/harness/outgoing'
     2021-03-03 09:33:09,027 INFO  [org.openwis.dataservice.common.util.ConfigServiceFacade] (EJB default -

[2021-03-16 15:36] solson-nws opened #353 "Issues with OpenWIS 3.15 installation"
Creating a omnibus issue for NWS, MF, BOM and KMA to highlight any and all issues related with installing OpenWIS 3.15.  These issues are contributing to our inability to assess OpenWIS 3.15.  I would like to capture each issue with the install and whether or not that still remains an issue, or if those issues are resolved.  For those that are resolved, please indicate what steps were taken to ove

[2021-03-16 17:26] mgiannoni commented on #353
### Populate LDAP Initialize Deployment Error

`------ Populate LDAP ------
[1] Initialize Deployment
[2] Populate LDAP
[3] Reset LDAP Users
[4] Reset LDAP Groups
[5] Reset LDAP Users And Groups
Choose one of the above values. (any other value to exit)
1
Initialize Deployment:
Deployment Name:
GISCTest
Administrator Login:
admin
Exception in thread "main" com.sun.xml.internal.ws.fault.ServerSOAPFa

[2021-03-16 17:43] mgiannoni commented on #353
### OpenIdentityPlatform Not Integrated Into OpenWIS Portals

The OpenIdentityPlatform OpenAM 4.5.x  -or- 4.6.2 (current version) is not acutally upgraded in the base OpenWIS portal code.
Here the true API for the integration still remains coded to the ForgeRock (proprietary) closed source OpenAM 12.0.0 version.  To perform a successful build, an existing Maven cache populated with ForgeRock compo

[2021-03-19 09:01] yvesgoupil commented on #353
### Apache Solr 8.2 installation procedure is missing.
How do we install Solr 8.2 ?
How  do we configure Solr for Openwis 3.15 ?
The configuration files are present but there is no explanation about how to organize them in a 8.2 standalone Solr deployment:
[https://github.com/OpenWIS/openwis/tree/openwis-3.15/openwis-metadataportal/openwis-portal/src/main/config-solr](url)

[2021-03-19 09:16] yvesgoupil commented on #353
### List of attributes for IDP assertions processing : Update missing for v3.15
The current version 3.14.10 list is :

     OpenWISAddress=OpenWISAddress
     OpenWISAddressCity=OpenWISAddressCity
     OpenWISAddressZip=OpenWISAddressZip
     OpenWISAddressState=OpenWISAddressState
     OpenWISAddressCountry=OpenWISAddressCountry
     OpenWISClassOfService=OpenWISClassOfService
     OpenWISBackUps

[2021-03-19 12:45] solson-nws commented on #353
@remy-gibault :  Yves may have already reached out to you and/or Yannick.  Any thoughts on the list of issues presented here and thoughts on how to overcome these?

Steve

[2021-03-19 13:07] solson-nws commented on #326
@yvesgoupil :  Has this been checked in as a pull request?

@zhangz555 and @mgiannoni :  Do you agree with Yves suggested change?

[2021-03-19 13:08] solson-nws commented on #324
Closing this issue as it is resolved.

[2021-03-19 13:08] #324 closed

[2021-03-19 13:23] mgiannoni commented on #326
Yes this is the correct update.  It's an artifact from the branch used by 3.15 predating the Java 7 update submitted by NWS

[2021-03-19 15:07] solson-nws commented on #334
Closing Issue.  This is resolved and merged into master

[2021-03-19 15:07] #334 closed

[2021-03-22 15:05] solson-nws commented on #352
@yvesgoupil :  Please consider uploading this to 3.15 repo as a pull request

[2021-03-22 15:07] solson-nws commented on #326
@yvesgoupil, can you please confirmed that this is in the OpenWIS 3.15 branch.  And if it is, please close the ticket.

[2021-03-22 15:10] solson-nws commented on #325
@hacenesh :  @yvesgoupil and @mgiannoni see this in their OpenWIS 3.15 deployments.  Do you see this behavior in your OpenWIS 3.15 release and deployment?  How do you suggest fixing this?

[2021-03-22 15:34] mgiannoni commented on #353
Wildfly Startup Error:

server.log.2021-03-11:2021-03-11 08:31:04,425 ERROR [org.hibernate.tuple.entity.PojoEntityTuplizer] (ServerService Thread Pool -- 81) HHH000112: Getters of lazy classes cannot be final: org.openwis.management.entity.AlarmEvent.date
server.log.2021-03-11:2021-03-11 08:31:04,425 ERROR [org.hibernate.tuple.entity.PojoEntityTuplizer] (ServerService Thread Pool -- 81) HHH000112:

[2021-03-23 09:23] yvesgoupil commented on #343
This file is described int the 3.14.10 Deployment Instructions wiki.
We leave it as it is.

[2021-03-23 09:23] #343 closed

[2021-03-23 09:25] yvesgoupil commented on #343
We decide to close it on March 22, 2021.

[2021-04-20 14:19] yvesgoupil commented on #353
### Dataservice wmo-ftp files ingestion errors in Wildfly server.log file.

For each file intended to be put in the GISC cache, arises this Dataservice Wildfly error:

`2021-03-25 10:59:01,890 ERROR [org.openwis.dataservice.util.CacheUtils] (Thread-55 (ActiveMQ-client-global-threads)) Failed to post incoming data queue message due to {}: javax.naming.NameNotFoundException: queue/IncomingDataQueue

[2021-04-20 14:29] yvesgoupil commented on #353
### User portal login test - Captcha error

There is a way to bypass the captcha process only for a dev deployment:

Replace the keys in openwis-metadataportal.properties by the following values:
`openwis.metadataportal.login.captcha.secretKey=xxx`
`openwis.metadataportal.login.captcha.siteKey=xxx`

Secret key: 6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
Site key: 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXji

[2021-04-20 14:35] yvesgoupil commented on #353
### GenerateSPConfFiles.zip compilation error

This problem needs to be investigated.

[2021-04-20 15:05] yvesgoupil commented on #353
### populateLDAP.sh issue

There is likely a problem with the security-service. The admin user creation done with populateLDAP.sh needs a fully operationnal openwis securityservice.
A workaround is to create the first openwis admin user directly in the ldap with a script provided by Akka.

Copy AddUsers.sh and user.template in ~opendj/bin/ and modify AddUsers.sh according your configuration.

[add

[2021-05-04 16:07] zhangz555 opened #364 "series of failures in openwis pull requests"
There are a series of failures in openwis pull requests recently. This issue will be investigated.

Initial observations reveal that these failures occur at the stage of travis build.

[2021-05-04 16:33] zhangz555 commented on #364
Based on the travis build history, there are totally 11 build failures, of which 10 initiated by github's pull requests and 1 by MarcG's:
1. bump commons-io,
2. bump   xstream,
3. bump ant,
4. ISSUE #315 Populate LDAP.

[2021-05-05 21:53] zhangz555 commented on #364
Errors Found:
In openWIS project file .travis.yml: openwis/.travis.yml at master · OpenWIS/openwis (github.com)
"mvn sonar:sonar -Popenwis,admin,user -Dsonar.projectKey=OpenWIS_openwis" exited with 1.

[ERROR] Failed to execute goal org.sonarsource.scanner.maven:sonar-maven-plugin:3.7.0.1746:sonar (default-cli) on project openwis: 3879
[ERROR] 3880
[ERROR] The version of Java (1.8.0_252) you have

[2021-05-06 17:09] solson-nws commented on #364
Zhan:

Can you describe what would need to be done to get JDK11 in place?

Steve

On Wed, May 5, 2021 at 5:53 PM zhangz555 ***@***.***> wrote:

[2021-05-06 20:12] zhangz555 commented on #364
Proposed Fixing Plan:

1. maven sonar JDK issue

- Since we can not change the JDK8 for other parts of openwis build, we need to think of a way to separate this maven sonar plugin and make it work with JDK11, while at the same time keep other parts of maven plugins with JDK8.

- We need to add configuration control in the openWIS project travis yml file to accomplish this. The detailed syntax gram

[2021-05-10 19:45] zhangz555 opened #365 "Maintenance Risks Analysis on Dependency Components in OpenWIS 3.15"
There are various software systems and other third-party components that are dependencies of OpenWIS version 3.15. Detailed information on OpenWIS 3.15 installation  can be referred to at location https://github.com/OpenWIS/openwis/wiki/v3.15.0-Deployment-Instructions. In the lifetime of this OpenWIS version, updating software dependency components will be needed in regular maintenance efforts due

[2021-05-10 20:46] zhangz555 commented on #365
The analysis document is attached here.
[Maintenance Risks Analysis on Dependency Components in OpenWIS 3.15.pdf](https://github.com/OpenWIS/openwis/files/6454883/Maintenance.Risks.Analysis.on.Dependency.Components.in.OpenWIS.3.15.pdf)

[2021-05-12 20:11] zhangz555 commented on #364
testing branch and pull request have been created and PR is fired to provide a temporary fix.

[2021-05-12 20:30] zhangz555 commented on #364
It appears that the Travis passed this PR. I need someone with admin rights to approve my PR so that this can take effect. I believe this will provide a temporary fix for all the current PR failures we see continuously.

[2021-05-13 12:57] solson-nws commented on #364
I have reviewed and merged pull request into master.  This ticket is now
closed.

Steve

On Wed, May 12, 2021 at 4:30 PM zhangz555 ***@***.***> wrote:

[2021-05-13 19:06] zhangz555 opened #368 "Manually mimic the failed PR #350 to examine the new Travis config"
I will manually mimic the failed PR #350 and fire a new test PR. Everything should work this time in the new Travis config environment.

[2021-05-13 19:13] zhangz555 commented on #368
In this test PR, I bump ant from 1.7.1 to 1.10.9 to mimic the previously failed PR #350

[2021-05-13 21:37] mgiannoni commented on #353
## populateLDAP.sh Issue:

### Additional LDAP Schemas

Several additional LDAP Schema's appear in 3.15:

1. SchemaMFA.ldif
2. SchemaOpenWIS.ldif

`ldapmodify -h localhost -p 4444 -D "cn=Directory Manager" -w "*******" -a -X --useSSL -f openwis-securityservice/openwis-securityservice-war/src/main/config/SchemaOpenWIS.ldif`

` ldapmodify -h localhost -p 4444 -D "cn=Directory Manager" -w "*******" -

[2021-05-14 09:44] hacenesh commented on #353
In the commit f4bc771 we :

- modified the SchemaOpenWIS.ldif to include OpenWISLastLoginTimestamp attribute.
- removed SchemaMFA.ldif which is not used
- modified UserManagementServiceImpl.java to include additional attributes in a user obj

Tested with @yvesgoupil => worked

[2021-05-14 13:44] mgiannoni commented on #353
### UserManagementServiceImpl.java

I do not see a commit for the modifications to **UserManagementServiceImpl.java**.

[2021-05-14 13:51] hacenesh commented on #353
The modification was in the privions commit
https://github.com/OpenWIS/openwis/commit/fc2f8ea020c2b83d23053d5edccd6a4ad9eee67b

[2021-05-14 14:11] mgiannoni commented on #353
### Please Improve Commit Headings

Please place the name of the file modified in the commit heading or comment so that changes can be located in the commit history.  The commit containing the modifications to **UserManagementServiceImpl.java** only displays the file **SchemaMFA.ldif**

[2021-05-14 20:14] mgiannoni commented on #353
### Still Does Not Work

Please provide detailed instructions for fixing this issue.

Initialize Deployment:
Deployment Name:
GISCTest
Administrator Login:
admin
Administrator Password:
"............."
Administrator Email:
openwis@openwis-ng.mdl.nws.noaa.gov
Administrator First name:
Joe
Administrator Last name:
Administrator
org.openwis.securityservice.UserManagementException_Exception: Entry uid

[2021-05-17 13:07] yvesgoupil commented on #353
### USERS table update
For the moment, in order to perform the login process, the postgresql "USERS" table from OpenWIS db has to be manually modified:

`ALTER TABLE users ADD lastlogin timestamp without time zone;
ALTER TABLE users ADD lastpasswordchange timestamp without time zone;
update users set lastlogin='2021-05-06 13:15:38.05'  where id='1';
ALTER TABLE users ALTER COLUMN lastlogin set NOT

[2021-05-17 13:19] yvesgoupil commented on #353
### Emails diffusion issue:

The functionality of sending emails has been deported to an Amazon service, we must re-integrate it in 3.15 version for a good operation of a GISC or a DCPC.

[2021-05-17 15:58] zhangz555 commented on #364
Since the temporary fix is set now in the travis config, and the temporary fix has been proved working in issue  #368,  we need to find a permanent solution to this issue and put sonar back into the system. Sonar is a critical component in OpenWIS CI and we need it to safeguard throughout our software engineering process.

[2021-05-19 23:50] zhangz555 commented on #364
After a series of test and trial, It appears that the jdk 11 issue is solved.

However, the Travis build is still failed. Based on the error debug info, we see that we have node.js issue this time.

[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  55.610 s
[INFO] Finished at: 2021-05-19T23:35:37Z
[INFO] -----------------------

[2021-05-19 23:52] zhangz555 commented on #364
We need to solve this issue to make the permanent fix be a success.

[2021-05-21 08:47] yvesgoupil commented on #353
Marc,
1. I checked the last ldap schema commited by Hacene (fc2f8ea020) and it's the same that I'm using:
 openwis/openwis-securityservice/openwis-securityservice-war/src/main/config/SchemaOpenWIS.ldif .

2. You need to build the openwis-securityservice.war and deploy it again in tomcat in order to apply the fix done in UserManagementServiceImpl.java . One line is added:
579         user.setSecret

[2021-05-27 12:44] yvesgoupil commented on #353
### Update to openwis-metadataportal.properties" file

User and Admin portal:
There is a missing property in the "openwis-metadataportal.properties" file.

Add at the end of "openwis-metadataportal.properties" file:
openwis.metadataportal.idp.name=@idp_name@

It will be pushed on Github soon.

[2021-05-28 08:14] yvesgoupil commented on #353
### Update to "openwis-metadataportal.properties" file

User and Admin portal:
There is a missing property in the "openwis-metadataportal.properties" file.

Add at the end of "openwis-metadataportal.properties" file:
**openwis.metadataportal.idp.name=@idp_name@**

The property for idp url must be entered also:
openwis.metadataportal.idp.url=http://@openam-server@/openam

It will be pushed on Githu

[2021-05-28 21:48] zhangz555 commented on #364
In order to solve the node js issue, there have been quite some failed travis builds for testings and experiments on branch permanent-fix-of-sonar-jdk-issue-may-2021. Approaches that have been taken include: using travis node js language and version keys, using travis jobs/stage mechanism to separate the maven sonar work.

[2021-05-31 14:50] yvesgoupil commented on #353
### User creation from admin portal Error
If I try to create a user from the admin portal (the admin user is "admin4"), there is an error msg displayed on the user creation windows.

In admin portal openwis.log
`2021-05-31 13:04:42,750 ERROR [openwis.util] - User: admin4. Unable to load credentials from service endpoint`

In SecurityService log:
`2021-05-31 13:36:04,428 ERROR [org.openwis.usermana

[2021-05-31 15:06] yvesgoupil commented on #353
### Self-registration missing on user  portal
Even if the self-registration option (System > System Configuration) is checked in the admin portal(screenshot below), the self-registration button is missing on the home page of the user portal.
When using a GISC, this option is necessary.
![2021-05-31_self_registration_option](https://user-images.githubusercontent.com/7373181/120212411-42373600-c232-

[2021-06-04 16:20] zhangz555 commented on #364
The OpenWIS sonar node js sub-issue is now permanent fixed. There are a lot of experiments and testings on branch named "permanent-fix-of-sonar-jdk-issue-may-2021". To see the entire list of experiments and tests in Travis build history, please go directly to the Travis website https://travis-ci.org/github/OpenWIS/openwis.

[2021-06-14 22:35] zhangz555 commented on #364
I was told that after the merge, travis build on the master branch failed. A quick look reveals that the build fails at deploy, which should have nothing to do with the sonar jdk and node js fix, since Travis clearly marked all the sonar related build with success in the master build, and all the testing on the merged branch has passed.

There are no changes in the deploy stage in this PR and merg

[2021-06-21 14:47] zhangz555 commented on #364
I carefully checked the travis deployment stage, there are a lot of errors related to openwis code itself. How could this be at the deployment stage? I will need going deeper to investigate this.

[INFO] [ERROR] /home/travis/build/OpenWIS/openwis/openwis-harness/openwis-harness-client/target/generated/src/main/java/org/openwis/dataservice/ProductArrivalListener.java:[3,17] package javax.jws does n

[2021-06-23 10:32] mtfelian opened #374 "Question: how to update metadata records programmatically?"
Hey! We have a GN 3.12.0 installation and we need to implement update metadata functionality via GeoNetwork's API or XML service. We considered both ways, but both failed.

It succeeded to get metadata record through xml.metadata.get service. But attempt to call `xml.metadata.update` leads to `Service not allowed` error.

Also `xml.user.login` don't works.

Also seems there is no REST API to updat

[2021-06-23 11:39] mtfelian commented on #374
Recreated in geonetwork/core-geonetwork repo

[2021-06-23 11:39] #374 closed

[2021-06-24 17:58] zhangz555 commented on #364
I have conducted some research on the Travis failures in deployment stages. There are some results, but we that still need further investigation. Below is the concise logging. We can see that there are some source changes detected in the project "openwis-harness-client", which triggered the recompile. This behavior is strange and confusing.

There is another issue arising. I notice that travis jus

[2021-08-04 14:58] zhangz555 commented on #364
On 8/4/2021, Steve has migrated Travis builds from .org to .com successfully. However, two issues emerge: one is a warning that node.js 10 is end-of-life and we need to upgrade again; another is that we get failures at the deployment stage. We need to solve these two issues.

[2021-10-04 13:50] solson-nws commented on #348
This ticket will be closed.  It's become part of the revised middleware and will be fixed with the next version.

[2021-10-04 13:50] #348 closed

[2021-10-04 13:54] solson-nws commented on #326
This ticket can be closed.  It was fixed in the 3.15 version.

[2021-10-04 13:54] #326 closed

[2021-10-04 13:55] solson-nws commented on #325
This ticket can be closed.  This work becomes part of the revised middleware RFP.

[2021-10-04 13:55] #325 closed

[2021-10-04 13:57] solson-nws commented on #304
This ticket can be closed.  It was merged into master

[2021-10-04 13:57] #304 closed

[2021-10-04 14:05] solson-nws commented on #322
This ticket can be closed.  A decision was made to stick wtih OpenAM middleware, just integrating the OpenAM API and removing the dependencies in OpenWIS code.

[2021-10-04 14:05] #322 closed

[2021-10-04 14:06] #323 closed

[2021-10-04 14:07] solson-nws commented on #301
This ticket can be closed.  We have updated deployment instructions for OpenWIS 3.14.10 and OpenWIS 3.15 (beta).

[2021-10-04 14:07] #301 closed

[2021-11-05 13:43] zhangz555 commented on #364
These are the errors at deployment stages, which are strange to me and needs analysis in details.

We can see that the compilation starts failing at project openwis-harness-client.

[INFO] [ERROR] COMPILATION ERROR :
[INFO] [INFO] -------------------------------------------------------------
[INFO] [ERROR] /home/travis/build/OpenWIS/openwis/openwis-harness/openwis-harness-client/target/generated/s

[2021-11-10 14:32] zhangz555 commented on #364
After intensive investigation of the errors, I think they may be cause by the java 11. The java 11 is required by travis because java 8 will cause the maven sonar plug-in issue, which was addressed and documented in details in this lineage.

So far, I am no sure whether we can upgrade to java 11 for the entire maven compilation process. Instead, the approach I am going to experiment is to patch th

[2021-12-06 20:43] zhangz555 commented on #364
These are the errors at deployment stages, which are strange to me and needs analysis in details.

We can see that the compilation starts failing at project openwis-harness-client. These errors may just reveal the tip of the iceberg, since the compilation stops at that specific project and the rest of a long list of projects are skipped.

[INFO] [ERROR] COMPILATION ERROR :
[INFO] [INFO] ----------

[2021-12-06 20:44] zhangz555 commented on #364
After intensive investigation of the errors, I think they may be cause by the java 11. The java 11 is required by travis because java 8 will cause the maven sonar plug-in issue, which was addressed and documented in details in this lineage.

So far, I am no sure whether we can upgrade to java 11 for the entire maven compilation process. Instead, the approach I am going to experiment is to patch th

[2021-12-06 20:45] zhangz555 commented on #364
Java 11 is installed on our server giscdev-washington with the help of the admin. This platform will serve as the testbed for finding solutions to the openwis travis build errors at the deployment stage.

quick build test directly on the master branch on the giscdev-washington proves that java 11 is indeed one cause (possibly other causes as well) of the errors we observed. Please note that maybe

[2021-12-06 20:45] zhangz555 commented on #364
The test work of setting up the workflow environment has been tested. Now I get new errors as the following. It appears that Github Support for password authentication was removed on August 13, 2021. Github now requires personal access token instead. This need to be solved.

[openwis@giscdev-washington openwis]$ git push
warning: push.default is unset; its implicit value is changing in
Git 2.0 fro

[2021-12-06 20:46] zhangz555 commented on #364
Since github abandoned password authentication for all the git command access methods, new approach must be adopted. I have figured out the way of taking PAT and set it up. Now the entire git workflow that conforms to the github requirements have been built up on the server giscdev-washington in account "openwis" but under account "zhangz555" on github.

A test push to verify the newly built-up wo

[2021-12-06 20:46] zhangz555 commented on #364
One the server giscdev-washington, the openwis repo is cloned in a separate location. All the following work is being and will be carried out on branch solve-travis-issues-after-migrate-to-dot-com.

Here are errors we have right now, which are just the reported errors, ie, the tip of an iceberg. As progress is made, the reported errors will change. All these will be recorded here in redmine to sho

[2021-12-06 20:47] zhangz555 commented on #364
Progress has been made. After carefully investigating the reported errors, I make code changes. Previous shown errors are eliminated. Now we have a new batch of errors reported as below.

[ERROR] /home/openwis/openWIS-travis-issues/openwis/openwis-harness/openwis-harness-client/target/generated/src/main/java/org/openwis/dataservice/ProductArrivalListener.java:[3,17] package javax.jws does not exis

[2021-12-06 20:47] zhangz555 commented on #364
I have cleared all the errors at project "openwis-harness-client". Now the build process get halted at project "openwis-management-service-ejb". We have moved forward a lot, but still a long way to go.

[INFO] OpenWIS ............................................ SUCCESS [ 0.853 s]
[INFO] openwis-libs ....................................... SUCCESS [ 0.858 s]
[INFO] openwis-harness ................

[2021-12-06 20:47] zhangz555 commented on #364
We are now at another milestone at the work. Maven build reported errors at project openwis-management-service-ejb. With some code changes and testing, now the reported errors are as below. These are another totally different type of errors, ie, errors related to EJB.

[ERROR] Failed to execute goal org.apache.cxf:cxf-java2ws-plugin:2.2.12:java2ws (alert-service-wsdl) on project openwis-management

[2021-12-06 20:48] zhangz555 commented on #364
The errors shown in project openwis-management-service-ejb, ie, ejb related errors, are difficult to handle. I have done extensive code change testing. Below are the errors reported so far. More in-depth and extensive investigations are needed to solve these challenging errors.

[INFO] OpenWIS ............................................ SUCCESS [ 0.838 s]
[INFO] openwis-libs .....................

[2021-12-08 16:30] zhangz555 commented on #364
on 12/3 MDL openwis team meeting, Marc Giannoni presented a good idea that we need to evaluate the problems at a higher level first, ie, picking up some important projects and test building them to see what types of errors would get reported, since almost all these projects have been skipped so far because the current  maven build is halted at project openwis-management-service-ejb. I am sorting o

[2021-12-14 14:01] solson-nws opened #381 "Investigate if log4j vulnerability affects the latest version of OpenWIS"
Recently, Log4J CVE-2021-44228 showed up as a exploitable risk.  The dependency links to the most impossible of components to upgrade: OpenAM-13.0.0. / OpenAM-12.0.0.  The vulnerability affects log4j versions 2.0.1 to 2.14.

Upon investigation, it turns out that OpenWIS uses a much older version of log4j.  See below:

**OpenWIS Dependencies:**

find . -name \*.pom -exec grep log4j {} \; -print

[2022-02-03 13:27] yvesgoupil opened #386 "Openwis v3.14.10 - user is not deleted in ldap group"
When a user is deleted in admin portal, the user is not deleted in ldap group.

[2022-02-03 15:39] yvesgoupil commented on #386
Fixed by Hacene from Akka in "openwis-3.14.10_issue_386" branch.
Commit: https://github.com/OpenWIS/openwis/commit/ac413a1dd0b8f8996f3ad863f39b853613a06ff2 .

[2022-02-03 15:41] yvesgoupil commented on #386
"openwis-3.14.10_issue_386" branch should be merged in master.

[2022-04-14 12:19] solson-nws commented on #364
@zhangz555 -- Do we have an update on this?  If not, let's discuss soon

[2022-04-14 12:21] solson-nws commented on #386
@yvesgoupil - Did you create a pull request to merge this into master?

[2022-04-14 12:22] solson-nws commented on #381
log4j did not affect the OpenWIS software stack.  The verison of log4j in play for OpenWIS doesn't fall within the affected range of log4j  that was vulnerable

[2022-04-14 12:22] #381 closed

[2022-04-14 12:23] solson-nws commented on #368
@zhangz555 - Is this still a work in progress, or can this issue be closed?

[2022-04-14 12:24] solson-nws commented on #365
This issue can be closed for OpenWIS 3.15.  This applied to 2021 analysis

[2022-04-14 12:24] #365 closed

[2022-04-14 12:27] solson-nws commented on #352
@yvesgoupil - Has a fix been identified and made?  If so, can you create a pull request for this fix?

[2022-04-14 12:28] solson-nws commented on #351
@yvesgoupil @mgiannoni -- Have you had similar issues as Maurixiou?  Or could this have happened before AKKA fixes were implemented?  What are your thoughts?

Steve

[2022-04-14 12:29] solson-nws commented on #342
Closing this issue out. The keycloak investigate is complete.

[2022-04-14 12:29] #342 closed

[2022-04-14 12:30] solson-nws commented on #300
@zhangz555 -  Did you create the pull request for this?  Let us know.

steve

[2022-04-14 12:31] solson-nws commented on #299
This has been overcome by events with moving SOLR forward to 8.2 in version OpenWIS 3.15

[2022-04-14 12:31] #299 closed

[2022-04-14 12:35] solson-nws commented on #297
This is no longer required. Closing this ticket

[2022-04-14 12:35] #297 closed

[2022-04-14 12:39] davidpodeur commented on #296
Need to reproduce with another header, but issue very likely to be still present.

[2022-04-14 12:40] solson-nws commented on #295
@JeyoungRyu -- Did you ever create a pull request to introduce this fix for the wismon portion of OpenWIS?  What's unclear is whether or not your fix was implemented in the revised WISMON codes with the last update?  Can you please clarify?

Steve

[2022-04-14 12:40] #295 closed

[2022-04-14 12:42] davidpodeur commented on #294
Still open.

[2022-04-14 12:46] solson-nws commented on #292
This has been fixed.  This ticket can be closed.

Steve

[2022-04-14 12:46] #292 closed

[2022-04-14 12:47] davidpodeur commented on #293
Still open.

metadatePrefix seem mandatory for openWIS but according to OAI-MPH it should not.
[code]

[2022-04-14 12:48] solson-nws commented on #291
@teonar  - Is this still an issue with 3.14.10 or 3.15?

[2022-04-14 12:48] #291 closed

[2022-04-14 14:26] davidpodeur commented on #291
Just reported by @yvesgoupil that this does not happen on MF GISC setup neither in 3.13, nor 3.14.10.

[2022-05-07 12:29] Maixentkambi opened #389 "Failed to execute goal on project openwis-portal"
I am trying to install openwis 3.14.10, I have the error codes are as below.
Thank you in advance for your help.

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary for OpenWIS 3.14.10-SNAPSHOT:
[INFO]
[INFO] OpenWIS ............................................ SUCCESS [03:47 min]
[INFO] openwis-libs ....................................... SUCCES

[2022-05-12 16:35] maixino opened #390 "Problem openwis 3.14.16"
Hi
I'm trying to build openwis 3.14.16, with maven 3.6.3 and jdk 1.8 on archlinux (64 bits)
 I am following the deployment instructions https://github.com/OpenWIS/openwis/wiki/v3.15.0-Deployment-Instructions

Any help would be very appreciated.

[openwis@localhost openwis]$ mvn clean install -Pdependencies,openwis,admin
[INFO] Scanning for projects...
[ERROR] [ERROR] Some problems were encountered

[2022-05-16 18:17] solson-nws commented on #386
Closing this issue based on @yvesgoupil suggestion.

[2022-05-16 18:17] #386 closed

[2022-05-16 21:10] solson-nws commented on #279
@yvesgoupil @davidpodeur --  Do you know if the fix identified by Benjamin is still in place in MF?  What action(s) need to be taken to get closure on this ticket?

Steve

[2022-05-16 21:12] solson-nws commented on #264
@yvesgoupil @davidpodeur -- If there is no longer a synchronization issue, I suggest we close this ticket out.  Thoughts?

Steve

[2022-07-14 13:16] mgiannoni opened #398 "OpenWIS Maven Cache Build Issue"
### OpenWIS Maven Cache Build Issue

Building OpenWIS "master" branch with a clean Maven cache may encounter problems retrieving dependencies located at ForgeRock.  The OpenAM integration and the associated ForgeRock dependencies are continually being "closed-source" as the company takes their repositories off-line.

The Maven  "dependencies" profile and associated "openwis-libs" module resolve th

[2022-07-27 15:46] mgiannoni commented on #398
## Changes Staged To Feature Branch "Issue_398_MVN_Cache_Build_Error"

[code]

[2022-07-27 16:24] zhangz555 commented on #398
For issues in 3.14, the group at MDL/NOAA will take the approach Marc presented, if we do not need to maintain 3.14 for a longer time. We can quickly wrap up the fixing process by extracting and using some artifacts from the back-up file Marc stores.

[2022-07-27 16:27] zhangz555 commented on #398
Similar issues also occur in version 3.15. For 3.15, I would suggest that we recommend to AKKA setting up a maven repository which can be internally open to OpenWIS users. From the last meeting, we now know that Akka has already dropped the "dependencies" profile in their design. This maven repository can be built up by utilizing the backup file Marc stores as a source.

[2022-07-27 16:31] zhangz555 commented on #398
After Marc pushes his changes into the specific feature branch, I would suggest that YvesG from the French group take a test build on their platform. If everything goes well, we would merge the changes into master.

[2022-07-28 14:03] zhangz555 commented on #398
YvesG performed the test build on their platform for this specific feature branch. The build is ok.

[2022-09-19 14:30] zhangz555 opened #401 "openwis pull request travis build issues"
We have encountered pull request travis build issues.

See the pull request here: https://github.com/OpenWIS/openwis/pull/396
See the travis build issue here: https://app.travis-ci.com/github/OpenWIS/openwis/builds/255456535.

We will investigate the issue and provide the solution.

[2022-09-19 18:40] zhangz555 commented on #401
The initial analysis suggests that there is issue related to jdk 11 on the Travis build platform.

[2022-09-19 18:43] zhangz555 commented on #401
branch travis-build-issue-9-19-2022 is created in github, which is dedicated to the investigation and analysis for this issue.

[2022-09-21 15:39] zhangz555 commented on #401
After tracking and reading the script, the initial judgement is that there is missing file at https://github.com/sormuras/bach/raw/releases/11/install-jdk.properties. This file is used in the script install-idk.sh script, which, in turn, in used in the travis build yml file.

[2022-09-21 20:11] zhangz555 commented on #401
I create a file "zhan-install-jdk.properties" in branch travis-build-issue-9-19-2022. This file will serve script install-jdk.sh, which, in turn, is used in the yml file.

[2022-09-23 13:39] zhangz555 commented on #401
Adding file "zhan-install-jdk.properties" in branch travis-build-issue-9-19-2022 and modifying script install-jdk.sh is to solve the jdk issue exposed in the failed travis build#389, which is mentioned at the beginning of this github issue. There is another error also revealed in the failed travis build#389, and this error is related to sonar. We can see these two errors in the log generated from

[2022-09-29 14:35] zhangz555 commented on #401
The jdk issue in the failed travis build#389, mentioned at the beginning of this github issue, is solved. This can be seen in the travis build#400. I will move to another error that was also in travis build#389. This error is related to sonar.

[2022-10-04 19:31] zhangz555 commented on #401
branch travis-build-issue-9-19-2022 triggers travis build#402, which has passed. See the results as following:

![travis build](https://user-images.githubusercontent.com/9867607/193908974-372d3aae-8880-46ee-b5c3-f6f543dc83eb.png)

[2022-10-04 19:34] zhangz555 commented on #401
Also in branch travis-build-issue-9-19-2022 triggered travis build#402, the jdk part. See below.

![travis build 2](https://user-images.githubusercontent.com/9867607/193909607-c73b93ff-2451-419d-bfb7-135ae2f5999f.png)

[2022-10-04 21:25] zhangz555 commented on #401
pull request #402 is created for merging branch travis-build-issue-9-19-2022 back into master.

[2022-11-25 12:01] yvesgoupil opened #403 "3.16 - Self register Error"
Self register fails.
- Log error on the user portal (logs/openwis.log)
`2022-11-25 11:43:45,890 INFO  [jeeves.request] - ==========================================================
2022-11-25 11:43:45,890 INFO  [jeeves.request] - HTML Request (from 172.24.248.25) : /openwis-user-portal/srv/en/user.register.submit
2022-11-25 11:43:45,891 INFO  [jeeves.service] - Dispatching : user.register.submit
20

[2022-11-25 14:52] yvesgoupil opened #404 "3.16 - user creation from admin portal Error"
When I try to create a user from the admin portal, an error message is displayed after the Save action.
A popup window displays: "Can't find resource for bundle java.util.PropertyResourceBundle, key mail.smtp.host"

- Admin portal - logs/openwis.log: No significant error (?)

- OpenAM portal - logs/openwis-security-service.log:
`2022-11-25 13:59:32,110 INFO  [org.openwis.usermanagement.UserManagem